<!DOCTYPE html>
<html class="page-error" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webroot/frags/layout/head.htm :: header">
</head>
<body>
<div th:replace="webroot/frags/layout/navs.htm :: navError"></div>
<main>
	<h1>404</h1>
	<h3>Not Found</h3>
	<p>The server has not found anything matching the request-URI</p>
	<div th:replace="webroot/frags/layout/footer.htm :: copy"></div>
</main>
<script data-module="error" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>