<!DOCTYPE html>
<html class="vs-change-password" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webroot/frags/layout/head.htm :: header">
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<change-password inline-template v-on:set-state="setState" v-on:set-page="setPage" v-bind:root-state="rootState">
		<div class="d-flex align-items-center w-100 h-100 justify-content-center">
			<form action="/abyss/change-password" method="POST" id="validForm" v-on:submit="validateBeforeSubmit" class="fol-12 fol-sm-6 fol-md-5 fol-lg-4 fol-xl-3">
				<h4 class="text-center">Change Password</h4>	
				<div class="form-group" v-bind:class="{ 'has-error': errors.has('oldPassword') }">
					<label for="oldPassword">Old Password</label>
					<input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Please enter old / current password" v-validate="'required|min:3'">
					<em v-bind:class="{ 'show': errors.has('oldPassword') }">{{ errors.first('oldPassword') }}</em>
				</div>
				<div class="form-group" v-bind:class="{ 'has-error': errors.has('newPassword') }">
					<label for="newPassword">New Password</label>
					<input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Please enter new password" v-validate="'required|min:8|password_strength'">
					<em v-bind:class="{ 'show': errors.has('newPassword') }">{{ errors.first('newPassword') }}</em>
				</div>
				<div class="form-group" v-bind:class="{ 'has-error': errors.has('confirmPassword') }">
					<label for="confirmPassword">Confirm Password</label>
					<input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Please enter new password again" v-validate="'required|min:8|password_strength|confirmed:newPassword'">
					<!--  data-vv-as="newPassword" -->
					<em v-bind:class="{ 'show': errors.has('confirmPassword') }">{{ errors.first('confirmPassword') }}</em>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary btn-rounded">CHANGE</button>
				</div>
			</form>
		</div>
	</change-password>
	</main>
</div>
<script id="reqVue" data-module="change-password" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>