<!DOCTYPE html>
<html class="page-auth" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="webroot/frags/layout/head.htm :: header">
</head>
<body>
<main id="portal">
	<div th:replace="webroot/frags/layout/navs.htm :: navSignup"></div>
	<h1>Create My Organization</h1>
	<h6>Enter details below</h6>
	<form action="/abyss/create-organization" method="POST" id="validForm" v-on:submit="validateBeforeSubmit">
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('name') }">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" class="form-control" placeholder="" v-validate="'required|min:3'">
			<em v-bind:class="{ 'show': errors.has('name') }">{{ errors.first('name') }}</em>
		</div>
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('description') }">
			<label for="description">Description</label>
			<input type="text" name="description" id="description" class="form-control" placeholder="" v-validate="'required|min:5'">
			<em v-bind:class="{ 'show': errors.has('description') }">{{ errors.first('description') }}</em>
		</div>
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('url') }">
			<label for="url">Url</label>
			<input type="text" name="url" id="url" class="form-control" placeholder="" v-validate="'required|url'">
			<em v-bind:class="{ 'show': errors.has('url') }">{{ errors.first('url') }}</em>
		</div>
		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary btn-rounded btn-lg">Create Organization</button>
		</div>
	</form>
	<div th:replace="webroot/frags/layout/footer.htm :: copy"></div>
	<div th:replace="webroot/frags/layout/terms.htm :: terms"></div>
</main>
<script id="reqJs" data-module="auth" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>