<!DOCTYPE html>
<html class="vs-explore" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="webroot/frags/layout/head.htm :: header">
<script src="/dist/js/lib/jquery.min.js"></script>
<script src="/dist/js/lib/thymus.min.js" id="thymus"
	data-thx-base-path="." data-thx-frag-extension=".htm"
	data-thx-head-frag="th:include=webroot/frags/layout/head.htm :: header"
	data-thx-preload-js="/dist/js/loader.js"
	data-thx-onfrags="fragsListener();" data-thx-onfrag="fragListener()"></script>
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<explore inline-template ref="refPage" v-on:set-state="setState" v-on:set-page="setPage" v-bind:root-state="rootState" v-if="!$root.isLoading">
		<section class="xxx">
			<transition name="fade">
			<div th:replace="webroot/frags/api/api-preview.htm :: apiPreview"></div>
			</transition>
			<div class="row bg-white">
				<v-select label="name" :filterable="true" :options="apiOptions" @search="getApiOptions" :on-change="filterApi" placeholder="Search API">
					<span slot="no-options"></span>
					<template slot="option" slot-scope="option">
						<div>{{ option.openapidocument.info.title }} <small class="text-muted">{{ option.openapidocument.info.version }}</small></div>
					</template>
					<template slot="selected-option" slot-scope="option">
						<div>{{ option.openapidocument.info.title }} <small class="text-muted">{{ option.openapidocument.info.version }}</small></div>
					</template>
				</v-select>
			</div>
			<div class="text-center cursor-pointer"><span v-if="filterTxt != ''" v-on:click="getPage(1);filterTxt=''" class="btn btn-purple btn--sm mt-6 px-3">{{filterTxt}} <i class="fas fa-times ml-2"></i></span></div>
			<div class="fow cards justify-content-center">
				<api-list v-for="(api, index) in sortByNested(sortApi, apiList)" :api="api" :index="index" :key="api.uuid" inline-template>
					<div th:replace="webroot/frags/api/api-preview.htm :: apiList"></div>
				</api-list>
			</div>
		</section>
	</explore>
	</main>
</div>
<script id="reqVue" data-module="explore" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>