<!DOCTYPE html>
<html class="page-error" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webroot/frags/layout/head.htm :: header">
</head>
<body>
<main id="portal">
	<div th:replace="webroot/frags/layout/navs.htm :: navError"></div>
	<h1 th:text="${http_statusCode}">???</h1>
	<h3 th:text="${http_errorMessage}">???</h3>
	<p th:text="${context_failureMessage}">???</p>
	<p th:text="${http_url}">???</p>
	<div th:replace="webroot/frags/layout/footer.htm :: copy"></div>
</main>
<script id="reqJs" data-module="error" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>