<!DOCTYPE html>
<html class="page-auth" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webroot/frags/layout/head.htm :: header">
</head>
<body>
<div th:replace="webroot/frags/layout/navs.htm :: navError"></div>
<main id="portal">
	<h1>Need help with your password?</h1>
	<h6>Enter your email and we’ll help you create a new password.</h6>	
	<form action="/abyss/forgot-password" method="POST" id="validForm" v-on:submit="validateBeforeSubmit">
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('username') }">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" class="form-control" placeholder="Please enter username or email" v-validate="{required: true, regex: /^[0-9A-Z_@.-]*$/i, min: 3}">
			<em v-bind:class="{ 'show': errors.has('username') }">{{ errors.first('username') }}</em>
		</div>
		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary btn-rounded btn-lg">Reset</button>
		</div>
	</form>
	<div th:replace="webroot/frags/layout/footer.htm :: copy"></div>
</main>
<script id="reqJs" data-module="auth" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>