<!DOCTYPE html>
<html class="vs-index" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="webroot/frags/layout/head.htm :: header">
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<index inline-template v-on:set-state="setState" v-on:set-page="setPage" v-bind:root-state="rootState">
				<div class="d-flex align-items-center w-100 h-100 text-center justify-content-center">
					<h1 th:text="'Welcome ' + ${context.get('user.name')}">Welcome</h1>
				</div>
	</index>
	</main>
</div>
<script id="reqVue" data-module="index" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>