<!DOCTYPE html>
<html class="vs-my-apis" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="webroot/frags/layout/head.htm :: header">
<script src="/dist/js/lib/jquery.min.js"></script>
<script src="/dist/js/lib/thymus.min.js" id="thymus"
	data-thx-base-path="." data-thx-frag-extension=".htm"
	data-thx-head-frag="th:include=webroot/frags/layout/head.htm :: header"
	data-thx-preload-js="/dist/js/loader.js"
	data-thx-onfrags="fragsListener();" data-thx-onfrag="fragListener()"></script>
<link href="/dist/css/obsidian.css" rel="stylesheet">
<link href="/dist/js/plugins/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<my-apis inline-template ref="refMyApis" v-on:set-page="setPage" v-bind:root-state="rootState" v-if="!$root.isLoading">
		<div class="columns tab-content">
			<aside class="column column-aside list-column xxx">
				<div class="clearfix column-header column-min-button">
					<div class="dropdown column-header-button">
						<button type="button" class="dropdown-toggle btn btn-lg btn-link txt-link btn-square" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li><a v-on:click="sortList(sortApi, 'openapidocument.info.title', String)"><i class="fas fa-sort"></i>Sort by Name</a></li>
							<li><a v-on:click="sortList(sortApi, 'created', Date);"><i class="fas fa-calendar-alt"></i>Sort by Date</a></li>
							<li><a v-on:click="sortList(sortApi, 'proxies', Array)"><i class="fas fa-code-branch"></i>Sort by Proxies</a></li>
						</ul>
					</div>
					<h5 class="column-header-title">My APIs</h5>
					<span v-if="filterTxt != ''" v-on:click="getPage(1);filterTxt=''" class="badge badge-blue api-clear-filter">{{filterTxt}} <i class="fas fa-times"></i></span>
				</div>
				<div class="column-content">
					<div class="nicescroll-bar">
						<v-select label="name" :filterable="true" :options="businessApiOptions" @search="getBusinessApiOptions" :on-change="filterApi" placeholder="Search API">
							<span slot="no-options"></span>
							<template slot="option" slot-scope="option">
								<div>{{ option.openapidocument.info.title }} <small class="txt-muted">{{ option.openapidocument.info.version }}</small></div>
							</template>
							<template slot="selected-option" slot-scope="option">
								<div>{{ option.openapidocument.info.title }} <small class="txt-muted">{{ option.openapidocument.info.version }}</small></div>
							</template>
						</v-select>
						<ul class="nav flex-column nav-controls nav-controls-first column-space api-list-business">
							<my-api-list v-for="(a, index) in sortByNested(sortApi, myApiList)" :api="a" :apilist="myApiList" :openapi="openapi" :lindex="index" :key="a.uuid"></my-api-list>
						</ul>
					</div>
				</div>
			</aside>
			<aside class="column column-aside list-column xxx">
				<div class="clearfix column-header column-min-button">
					<div class="dropdown column-header-button">
						<button type="button" class="dropdown-toggle btn btn-lg btn-link txt-link btn-square" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li><a v-on:click="sortList(sortApi, 'openapidocument.info.title', String)"><i class="fas fa-sort"></i>Sort by Name</a></li>
							<li><a v-on:click="sortList(sortApi, 'created', Date);"><i class="fas fa-calendar-alt"></i>Sort by Date</a></li>
						</ul>
					</div>
					<h5 class="column-header-title">My Proxies</h5>
					<span v-if="filterTxt != ''" v-on:click="getPage(1);filterTxt=''" class="badge badge-blue api-clear-filter">{{filterTxt}} <i class="fas fa-times"></i></span>
				</div>
				<div class="column-content">
					<div class="nicescroll-bar">
						<v-select label="name" :filterable="true" :options="proxyApiOptions" @search="getProxyApiOptions" :on-change="filterProxy" placeholder="Search Proxies">
							<span slot="no-options"></span>
							<template slot="option" slot-scope="option">
								<div>{{ option.openapidocument.info.title }} <small class="txt-muted">{{ option.openapidocument.info.version }}</small></div>
							</template>
							<template slot="selected-option" slot-scope="option">
								<div>{{ option.openapidocument.info.title }} <small class="txt-muted">{{ option.openapidocument.info.version }}</small></div>
							</template>
						</v-select>
						<ul class="nav flex-column nav-controls nav-controls-first column-space api-list-proxy">
							<my-api-list v-for="(a, index) in sortByNested(sortApi, myProxyList)" :api="a" :apilist="myApiList" :openapi="openapi" :lindex="index" :key="a.uuid"></my-api-list>
						</ul>
					</div>
				</div>
			</aside>
			<aside class="column column-aside create-column">
				<div class="clearfix brd-b column-header column-min-button">
					<h5 class="column-header-title">Information</h5>
				</div>
				<div class="column-content">
					<form class="nicescroll-bar" id="frmHeader">
						<article class="field-controls field-level-0" data-id="Info" v-show="api.specs != 'scratch' && rootState == 'create'">
							<a class="field-link nav-caret" data-toggle="collapse" data-target="#upload" aria-controls="upload" aria-expanded="false">
								<h6><i class="fa fa-fw fa-upload"></i> Upload API <small>{{api.specs}}</small></h6>
							</a>
							<div id="upload" class="collapse field-color-grey field-level-1">
								<div id="specsFrom" class="field-acc" v-show="rootState == 'create' && api.specs != 'scratch'">
									<div class="form-group">
										<span class="radio radio-primary d-inline-block mr-3">
											<input type="radio" name="specsUpload" id="specsUrl" class="js-switchclass" data-all=".specs-uploads" data-target="#specsFromUrl" data-class="show" checked>
											<label for="specsUrl">From URL</label>
										</span>
										<span class="radio radio-primary d-inline-block">
											<input type="radio" name="specsUpload" id="specsFile" class="js-switchclass" data-all=".specs-uploads" data-target="#specsFromFile" data-class="show">
											<label for="specsFile">From File</label>
										</span>
									</div>
									<div id="specsFromUrl" class="specs-uploads hide show">
										<div class="form-group">
											<label for="specsFileUrl">URL:</label>
											<input type="text" name="specsFileUrl" id="specsFileUrl" class="form-control" v-on:change="loadFromUrlSchema($event.target.value)">
										</div>
									</div>
									<div id="specsFromFile" class="specs-uploads hide dz-single">
										<div class="form-group">
											<vue-dropzone ref="dropSpecs" id="dropSpecs" :options="dropSpecsOptions" v-on:vdropzone-success="dropSpecsSuccess" v-on:vdropzone-removed-file="dropSpecsRemoved"></vue-dropzone>
										</div>
									</div>
								</div>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="Servers">
							<div class="field-sum">
								<a class="field-link nav-caret" data-toggle="collapse" data-target="#servers" aria-controls="servers" aria-expanded="false">
									<h6><i class="fa fa-fw fa-server"></i> Servers</h6>
								</a>
								<span class="ficon-act ficon-act-abs" v-if="openapi.servers.length == 0">
									<a title="Add a server" v-on:click="addServer()"><i class="fas fa-lg fa-plus"></i></a>
								</span>
							</div>
							<div id="servers" class="collapse">
								<api-servers v-for="(server,sindex) in openapi.servers" :server="server" :sindex="sindex" :key="sindex" :servers="openapi.servers" inline-template>
									<div class="field-controls field-color-grey field-level-1">
										<div class="field-sum">
											<a class="field-link nav-caret" data-toggle="collapse" v-bind:data-target="'#server'+sindex" v-bind:aria-controls="'server'+sindex">
												<span>{{server.url}}</span>
												<!-- <small class="d-block txt-muted" v-if="$parent.api.isproxyapi">{{xServerUrl}}</small> -->
												<!-- <strong class="d-block txt-break">{{serverUrl}}</strong> -->
											</a>
										</div>
										<div class="ficon-actions dropdown dropdown-hover">
											<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
											<ul class="dropdown-menu dropdown-menu-right" role="menu">
												<li><a class="" title="Remove server" v-on:click="removeServer(sindex)" v-if="servers.length > 1"><i class="fa fa-trash-alt"></i> Remove server</a></li>
												<!-- <li><a title="Show Variables" data-toggle="collapse" v-bind:data-target="'#server'+sindex" v-bind:aria-controls="'server'+sindex"><i class="">V</i> Show Variables</a></li> -->
												<li><a title="Add Variable" v-on:click="addVariable(sindex)"><i class="">V</i> Add Variable</a></li>
												<li><a title="Add a server" v-on:click="addServer()"><i class="fa fa-plus"></i> Add a server</a></li>
											</ul>
										</div>
										<div v-bind:id="'server'+sindex" class="collapse field-acc">
											<div class="form-group" v-bind:class="{'has-error': errors.has('server'+sindex) }">
												<label>URL</label>
												<input class="form-control" placeholder="Required" v-model.lazy="serverUrl" :name="'server'+sindex" v-validate="'required'" :readonly="$parent.api.isproxyapi">
											</div>
											<div class="form-group">
												<label>Description</label>
												<input class="form-control" v-model.lazy="server.description">
											</div>
											<api-srvvar v-for="(variable,index) in server.variables" :name="index" :key="index" :variable="variable" :server="server" :sindex="sindex" inline-template>
												<div class="position-relative row mt-3">
													<div class="ficon-actions dropdown dropdown-hover">
														<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
														<ul class="dropdown-menu dropdown-menu-right" role="menu">
															<li><a title="Remove variable" v-on:click="removeVariable(sindex)"><i class="fa fa-trash-alt"></i> Remove Variable</a></li>
															<li><a v-on:click="addVEnum()" v-if="server.variables"><i class="fa fa-fw fa-plus"></i> Add Enum Value</a></li>
														</ul>
													</div>
													<div class="field-acc">
														<div class="form-group">
															<label>Variable Name</label>
															<input class="form-control" v-model.lazy="variableName">
														</div>
														<div class="form-group">
															<label>Description</label>
															<input class="form-control" v-model.lazy="variable.description">
														</div>
														<div class="form-group mb-0">
															<label>Default</label>
															<input class="form-control" placeholder="Required" v-model.lazy="variable.default">
														</div>
													</div>
													<api-venum v-for="(evalue,eindex) in variable.enum" :variable="variable" :eindex="eindex" :key="eindex" inline-template>
														<div class="field-acc">
															<div class="ficon-actions dropdown dropdown-hover">
																<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li><a title="Add Enum value" v-on:click="addVEnum(variable)"><i class="fa fa-plus"></i> Add Enum value</a></li>
																	<li><a title="Remove Enum value" v-on:click="removeVEnum(eindex)"><i class="fa fa-trash-alt"></i> Remove Enum value</a></li>
																</ul>
															</div>
															<div class="form-group">
																<label>Enum Value</label>
																<input class="form-control" v-model.lazy="vename">
															</div>
														</div>
													</api-venum>
												</div>
											</api-srvvar>
										</div>
									</div>
								</api-servers>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="Info">
							<a class="field-link nav-caret" data-toggle="collapse" data-target="#info" aria-controls="info">
								<h6><i class="fa fa-fw fa-info"></i> Info</h6>
							</a>
							<div id="info" class="collapse field-controls field-color-grey field-level-1">
								<div class="field-acc brd-b-0">
									<div class="form-group" v-bind:class="{'has-error': errors.has('infoTitle') }">
										<label>Title</label>
										<input class="form-control" placeholder="Required" v-model.lazy="openapi.info.title" v-validate="'required'" name="infoTitle">
									</div>
									<div class="form-group" v-bind:class="{'has-error': errors.has('infoVersion') }">
										<label>Version</label>
										<input class="form-control" placeholder="Required" v-model.lazy="openapi.info.version" v-validate="'required'" name="infoVersion">
									</div>
									<!-- <label>apioriginid</label>
									<input class="form-control" v-model.lazy="api.apioriginid" placeholder="apioriginid" name="apioriginid">
									<label>apiparentid</label>
									<input class="form-control" v-model.lazy="api.apiparentid" placeholder="apiparentid" name="apiparentid"> -->
									<div class="form-group" v-if="rootState == 'edit'">
										<label>Parent API</label>
										<div>{{parentApiName()}}</div>
									</div>
									<div class="form-group" v-if="rootState == 'edit'">
										<label>Original API</label>
										<div>{{originApiName()}}</div>
									</div>
									<div class="form-group mb-0">
										<label>Description</label>
										<a class="flt-r" title="Preview markdown" v-on:click="markdownPreview('#txtDescription')"><i class="fa fa-check-circle"></i></a>
										<textarea class="form-control" id="txtDescription" v-model.lazy="openapi.info.description"></textarea>
									</div>
								</div>
							</div>
						</article>
						<article class="field-controls field-level-0">
							<a class="field-link nav-caret" data-toggle="collapse" data-target="#infoContact" aria-controls="infoContact">
								<h6 class="d-block"><i class="fa fa-fw fa-address-card"></i> Contact</h6>
							</a>
							<div id="infoContact" class="collapse field-acc field-controls field-color-grey field-level-1">
								<div class="form-group">
									<label>Contact Name</label>
									<input class="form-control" v-model.lazy="openapi.info.contact.name">
								</div>
								<div class="form-group">
									<label>Contact Email</label>
									<input class="form-control" type="email" v-model.lazy="openapi.info.contact.email">
								</div>
								<div class="form-group">
									<label>Contact URL</label>
									<input type="url" class="form-control" v-model.lazy="openapi.info.contact.url">
								</div>
							</div>
						</article>
						<article class="field-controls field-level-0">
							<a class="field-link nav-caret" data-toggle="collapse" data-target="#infoTermsLicence" aria-controls="infoTermsLicence">
								<h6 class="d-block"><i class="fa fa-fw fa-check-circle"></i> Terms & Licence</h6>
							</a>
							<div id="infoTermsLicence" class="collapse field-acc field-controls field-color-grey field-level-1">
								<div class="form-group">
									<label>Terms of Service URL</label>
									<input type="url" class="form-control" v-model.lazy="openapi.info.termsOfService">
								</div>
								<div class="form-group">
									<label>License Name </label>
									<div class="ficon-actions dropdown dropdown--hover">
										<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
										<ul class="dropdown-menu dropdown-menu-right" role="menu" data-dropdown-in="slideInRight" data-dropdown-out="slideOutRight">
											<li v-for="(lic, index) in licenseOptions"><a v-on:click="licenseFromList(lic)"><strong>{{lic.name}}</strong><small class="d-block txt-break">{{lic.url}}</small></a></li>
										</ul>
									</div>
									<!-- <v-select label="name" taggable :filterable="false" :options="licenseOptions" v-model="openapi.info.license.name" :on-change="licenseToList">
										<span slot="no-options"></span>
									</v-select> -->
									<input type="url" id="nameLicense" class="form-control" v-model.lazy="openapi.info.license.name">
								</div>
								<div class="form-group">
									<label>License URL</label>
									<input type="url" id="urlLicense" class="form-control" v-model.lazy="openapi.info.license.url">
								</div>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="Documentation">
							<a class="field-link nav-caret" data-toggle="collapse" data-target="#infoDocumentation" aria-controls="infoDocumentation">
								<h6 class="d-block"><i class="fa fa-fw fa-file-alt"></i> Documentation</h6>
							</a>
							<div id="infoDocumentation" class="collapse field-acc field-controls field-color-grey field-level-1">
								<div class="form-group">
									<label>External Docs</label>
									<a class="flt-r" v-on:click="markdownPreview('#txtExtDocDesc')" title="Preview markdown"><i class="fa fa-check-circle"></i></a>
									<textarea class="form-control" id="txtExtDocDesc" v-model.lazy="openapi.externalDocs.description"></textarea>
								</div>
								<div class="form-group">
									<label>Documentation URL</label>
									<input type="url" class="form-control" v-model.lazy="openapi.externalDocs.url">
								</div>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="Advanced">
							<a class="field-link nav-caret" data-toggle="collapse" data-target="#customizations" aria-controls="customizations">
								<h6 class="d-block"><i class="icon-verapi txt-primary"></i> Portal Specific</h6>
							</a>
							<div id="customizations" class="collapse field-acc field-controls field-color-grey field-level-1">
								<div class="form-group dz-single">
									<label for="group">Add Picture:</label>
									<div id="appcolor" :style="{ 'background-color': api.color }">
										<vue-dropzone ref="dropImage" id="dropImage" :options="dropImageOptions" v-on:vdropzone-success="dropImageSuccess"></vue-dropzone>
									</div>
								</div>
								<div class="form-group">
									<label>Color</label>
									<div class="input-group api-color" data-format="hex" data-targetbg="#appcolor"><input type="text" class="form-control" v-model.lazy="api.color"><span class="input-group-addon"><i></i></span></div>
								</div>
								<div class="form-group v-select-color-green v-select-inline" v-if="rootState == 'edit'">
									<label for="categories">Add to Categories:</label>
									<v-select label="name" multiple taggable :filterable="true" :options="categoryOptions" @search="getCategoryOptions" v-model="api.categories" :on-change="fixCategory"></v-select>
								</div>
								<div class="form-group v-select-color-purple v-select-inline" v-if="rootState == 'edit'">
									<label for="tags">Add Tags:</label>
									<v-select label="name" multiple taggable :filterable="true" :options="tagOptions" @search="getTagOptions" v-model="api.tags" :on-change="fixTag"></v-select>
								</div>
								<div class="form-group v-select-color-pink v-select-inline" v-if="rootState == 'edit'">
									<label for="group">Add Group:</label>
									<v-select label="name" multiple taggable :filterable="true" :options="groupOptions" @search="getGroupOptions" v-model="api.groups" :on-change="fixGroup"></v-select>
								</div>
							</div>
						</article>
					</form>
				</div>
			</aside>
			<aside class="column column-aside edit-column components-column column-minimize">
				<div class="clearfix column-header column-min-button">
					<h5 class="column-header-title">Components & Tags</h5>
				</div>
				<div class="column-content">
					<form class="nicescroll-bar" id="frmSchemas">
						<article class="field-controls field-level-0" data-id="Tags">
							<div class="field-sum">
								<a class="field-link nav-caret" data-toggle="collapse" data-target="#tags" aria-controls="tags">
									<h6 class="d-block"><i class="fa fa-fw fa-tags"></i> Tags <span class="badge badge-pill badge-outline flt-r" v-if="openapi.tags.length > 0">{{openapi.tags.length}}</span></h6>
								</a>
								<span class="ficon-act ficon-act-abs" v-if="openapi.tags.length == 0">
									<a title="Add Tag" v-on:click="addTag()"><i class="fas fa-lg fa-plus"></i></a>
								</span>
							</div>
							<div id="tags" class="collapse field-tabs">
								<div v-for="(t,index) in openapi.tags" class="field-controls field-color-grey field-level-1">
									<div class="field-sum">
										<a class="field-link nav-caret" data-toggle="collapse" v-bind:data-target="'#t'+index" v-bind:aria-controls="'t'+index">
											<strong class="fnt-bold">{{t.name}}</strong>
										</a>
										<div class="ficon-actions dropdown dropdown-hover">
											<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
											<ul class="dropdown-menu dropdown-menu-right" role="menu">
												<li><a title="Add Tag" v-on:click="addTag()"><i class="fas fa-lg fa-plus"></i> Add Tag</a></li>
												<li><a title="Remove tag" v-on:click="removeTag(index)"><i class="fa fa-trash-alt"></i> Remove tag</a></li>
											</ul>
										</div>
									</div>
									<div v-bind:id="'t'+index" class="collapse field-acc">
										<div class="form-group">
											<label>Name</label>
											<input class="form-control" placeholder="Required" v-model.lazy="t.name">
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea class="form-control" v-model.lazy="t.description"></textarea>
										</div>
										<div class="form-group">
											<label>External Docs</label>
											<textarea class="form-control" v-model.lazy="t.externalDocs.description"></textarea>
										</div>
										<div class="form-group">
											<label>Docs URL</label>
											<input type="url" class="form-control" v-model.lazy="t.externalDocs.url">
										</div>
									</div>
								</div>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="securitySchemes">
							<div class="field-sum">
								<a class="field-link nav-caret" data-toggle="collapse" data-target="#securitySchemes" aria-controls="securitySchemes">
									<h6 class="d-block"><i class="fa fa-fw fa-lock"></i> Security Schemes <span class="badge badge-pill badge-outline flt-r" v-if="getObjCount(openapi.components.securitySchemes) > 0">{{getObjCount(openapi.components.securitySchemes)}}</span></h6>
								</a>
								<span class="ficon-act ficon-act-abs" v-if="getObjCount(openapi.components.securitySchemes) < 1">
									<a title="Add Security Scheme" v-on:click="addSecurityDefinition('newSecurityScheme')"><i class="fas fa-lg fa-plus"></i></a>
								</span>
							</div>
							<div id="securitySchemes" class="collapse">
								<api-secdef v-for="(sd, sdname, index) in openapi.components.securitySchemes" :key="sdname" :sd="sd" :sdname="sdname" :openapi="openapi" :index="index" inline-template>
									<div class="field-controls field-color-grey field-level-1">
										<div class="field-sum">
											<a class="field-link nav-caret" data-toggle="collapse" v-bind:data-target="'#sd'+index" v-bind:aria-controls="'sd'+index">
												<strong class="fnt-bold">{{sdname}}</strong>
												<ul class="mb-0">
													<li v-for="(flow,flowName) in sd.flows">
														<ul class="mb-0 small">
															<li v-for="(sdesc, sname) in flow.scopes">{{flowName}} <small>{{sname}}</small></li>
														</ul>
													</li>
												</ul>
											</a>
											<div class="ficon-actions dropdown dropdown-hover">
												<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
												<ul class="dropdown-menu dropdown-menu-right" role="menu">
													<li><a title="Add securityScheme" v-on:click="addSecurityDefinition('newSecurityScheme')"><i class="fa fa-plus"></i> Add securityScheme</a></li>
													<li><a title="Add bearerAuth" v-on:click="addSecurityDefinition('bearerAuth')"><i class="fa fa-plus"></i> Add bearerAuth</a></li>
													<li><a title="Add basicAuth" v-on:click="addSecurityDefinition('basicAuth')"><i class="fa fa-plus"></i> Add basicAuth</a></li>
													<li><a title="Add abyssCookieAuth" v-on:click="addSecurityDefinition('abyssCookieAuth')"><i class="fa fa-plus"></i> Add abyssCookieAuth</a></li>
													<li><a title="Add abyssHttpBasicAuth" v-on:click="addSecurityDefinition('abyssHttpBasicAuth')"><i class="fa fa-plus"></i> Add abyssHttpBasicAuth</a></li>
													<li><a title="Add abyssApiKeyAuth" v-on:click="addSecurityDefinition('abyssApiKeyAuth')"><i class="fa fa-plus"></i> Add abyssApiKeyAuth</a></li>
													<li><a title="Add abyssAppAccessTokenAuth" v-on:click="addSecurityDefinition('abyssAppAccessTokenAuth')"><i class="fa fa-plus"></i> Add abyssAppAccessTokenAuth</a></li>
													<li><a title="Add abyssAppAccessTokenCookieAuth" v-on:click="addSecurityDefinition('abyssAppAccessTokenCookieAuth')"><i class="fa fa-plus"></i> Add abyssAppAccessTokenCookieAuth</a></li>
													<li><a title="Add abyssJWTBearerAuth" v-on:click="addSecurityDefinition('abyssJWTBearerAuth')"><i class="fa fa-plus"></i> Add abyssJWTBearerAuth</a></li>
													<li><a title="Remove securityScheme" v-on:click="removeSecurityDefinition(sdname)"><i class="fa fa-trash-alt"></i> Remove securityScheme</a></li>
												</ul>
											</div>
										</div>
										<div v-bind:id="'sd'+index" class="collapse field-acc">
											<div class="form-group">
												<label>Scheme Name</label>
												<input class="form-control" v-model.lazy="secname">
											</div>
											<div class="fow form-row">
												<div class="fol-8 form-group">
													<label for="selSdType">Type</label>
													<select class="form-control" name="selSdType" v-model="type">
														<option value="apiKey">API Key</option>
														<option value="oauth2">oAuth2</option>
														<option value="http">HTTP Authentication</option>
														<option value="openIdConnect">OpenIdConnect</option>
													</select>
												</div>
												<div class="fol-4 form-group txt-r">
													<label class="d-block txt-line mb-0">Apply to all paths</label>
													<span class="switch switch-primary ml-auto">
														<input type="checkbox" :id="'applyAllPaths'+index" :value="sdname" v-model="appliesToAllPaths" v-on:change="applyAllPaths(appliesToAllPaths)">
														<label :for="'applyAllPaths'+index"></label>
													</span>
												</div>
											</div>
											<div class="form-group" v-if="sd.type == 'http'">
												<label>Scheme</label>
												<input class="form-control" placeholder="Required" v-model.lazy="sd.scheme">
											</div>
											<div class="form-group" v-if="sd.scheme == 'bearer'">
												<label>BearerFormat</label>
												<input class="form-control" v-model.lazy="sd.bearerFormat">
											</div>
											<div class="form-group" v-if="sd.scheme == 'basic'">
												<label>Username</label>
												<input class="form-control" v-model.lazy="sd['x-abyss-username']">
											</div>
											<div class="form-group" v-if="sd.scheme == 'basic'">
												<label>Password</label>
												<input class="form-control" v-model.lazy="sd['x-abyss-password']">
											</div>
											<div class="form-group" v-if="sd.type == 'openIdConnect'">
												<label>OpenIdConnect URL</label>
												<input class="form-control" placeholder="Required" v-model.lazy="sd.openIdConnectUrl">
											</div>
											<div v-if="sd.type == 'apiKey'">
												<div class="form-group">
													<label>Location</label>
													<select class="form-control" name="selLocation" v-model="sd.in">
														<option value="header">Header</option>
														<option value="query">Query</option>
														<option value="cookie">Cookie</option>
													</select>
												</div>
												<div class="form-group">
													<label>Parameter Name</label>
													<input class="form-control" v-model.lazy="sd.name">
												</div>
												<div class="form-group">
													<label>Parameter Value</label>
													<input class="form-control" v-model.lazy="sd['x-abyss-apikey']">
												</div>
											</div>
											<div v-if="sd.type == 'oauth2'">
												<div class="fow form-row">
													<div class="form-group fol-6 mb-0">
														<label class="d-block">Implicit</label>
														<span class="switch switch-primary ml-auto">
															<input type="checkbox" :id="'Implicit'+index" v-model="hasImplicit">
															<label :for="'Implicit'+index"></label>
														</span>
													</div>
													<div class="form-group fol-6 txt-r">
														<label class="d-block">authorizationCode</label>
														<span class="switch switch-primary ml-auto">
															<input type="checkbox" :id="'authorizationCode'+index" v-model="hasAuthCode">
															<label :for="'authorizationCode'+index"></label>
														</span>
													</div>
													<div class="form-group fol-6 mb-0">
														<label class="d-block">Password</label>
														<span class="switch switch-primary ml-auto">
															<input type="checkbox" :id="'Password'+index" v-model="hasPassword">
															<label :for="'Password'+index"></label>
														</span>
													</div>
													<div class="form-group fol-6 txt-r">
														<label class="d-block">clientCredentials</label>
														<span class="switch switch-primary ml-auto">
															<input type="checkbox" :id="'clientCredentials'+index" v-model="hasClientCred">
															<label :for="'clientCredentials'+index"></label>
														</span>
													</div>
												</div>
												<div class="mt-3 brd-l brd-r brd-b">
													<div class="field-controls field-color-grey field-level-2" v-for="(flow,flowName,findex) in sd.flows">
														<div class="field-sum">
															<a class="field-link nav-caret" data-toggle="collapse" v-bind:data-target="'#flow-'+flowName" v-bind:aria-controls="'flow-'+flowName" aria-expanded="false">
																<strong>{{flowName}}</strong>
															</a>
														</div>
														<div v-bind:id="'flow-'+flowName" class="collapse field-acc">
															<div class="form-group" v-if="flowName == 'implicit' || flowName == 'authorizationCode'">
																<label>Authorization URL</label>
																<input type="url" class="form-control" value="http://www.example.com" v-model.lazy="flow.authorizationUrl">
															</div>
															<div class="form-group" v-if="flowName != 'implicit'">
																<label>Token URL</label>
																<input type="url" class="form-control" v-model.lazy="flow.tokenUrl">
															</div>
															<div class="form-group">
																<label>Refresh URL</label>
																<input type="url" class="form-control" v-model.lazy="flow.refreshUrl">
															</div>
															<div class="form-group" v-if="flowName == 'clientCredentials'">
																<label>Client Id</label>
																<input type="text" class="form-control" v-model.lazy="flow['x-abyss-clientid']">
															</div>
															<div class="form-group" v-if="flowName == 'clientCredentials'">
																<label>Client Secret</label>
																<input type="text" class="form-control" v-model.lazy="flow['x-abyss-clientsecret']">
															</div>
															<div class="form-group" v-if="flowName == 'password'">
																<label>Password</label>
																<input class="form-control" v-model.lazy="flow['x-abyss-password']">
															</div>
															<div v-if="Object.keys(flow.scopes).length==0" class="ficon-act justify-content-end">
																<a v-on:click="addScope(flow)">Create Scope <i class="fa fa-fw fa-plus"></i></a>
															</div>						
															<api-scope v-for="(sdesc, sname, sindex) in flow.scopes" :sd="sd" :sdname="sdname" :sname="sname" :key="sname" :flow="flow" :sindex="sindex" inline-template>
																<div class="position-relative">
																	<span class="ficon-act ficon-act-abs">
																		<a title="Add scope" v-on:click="addScope(flow)"><i class="fa fa-plus"></i></a>
																		<a title="Remove scope" v-on:click="removeScope(flow,sname)"><i class="fa fa-trash-alt"></i></a>
																	</span>
																	<div class="form-group">
																		<label>Scope Name</label>
																		<input class="form-control" v-model.lazy="scopename">
																	</div>
																	<div class="form-group">
																		<label>Description</label>
																		<input class="form-control" v-model.lazy="flow.scopes[sname]">
																	</div>
																</div>
															</api-scope>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</api-secdef>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="Schemas">
							<div class="field-sum">
								<a class="field-link nav-caret" data-toggle="collapse" data-target="#schemas" aria-controls="schemas">
									<h6 class="d-block"><i class="fa fa-fw fa-sitemap"></i> Schemas <span class="badge badge-pill badge-outline flt-r" v-if="getObjCount(openapi.components.schemas) > 0">{{getObjCount(openapi.components.schemas)}}</span></h6>
								</a>
								<span class="ficon-act ficon-act-abs" v-if="getObjCount(openapi.components.schemas) < 1">
									<a title="Create Schema" v-on:click="addSchema()"><i class="fas fa-lg fa-plus"></i></a>
								</span>
							</div>
							<div id="schemas" class="collapse field-tabs">
								<div v-for="(schema,key,index) in openapi.components.schemas" class="field-controls field-color-grey field-level-1" v-bind:data-schema="'#/components/schemas/'+key">
									<div class="field-sum">
										<a class="field-link nav-caret" data-toggle="collapse" v-bind:data-target="'#schema'+index" v-bind:aria-controls="'schema'+index">
											<strong class="fnt-bold">{{key}}
											<small v-for="(prop,pkey) in schema.properties" v-if="(prop.type == 'object') || prop.$ref">
												$ref: {{pkey}}
											</small>
											</strong>
										</a>
										<div class="ficon-actions dropdown dropdown-hover">
											<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
											<ul class="dropdown-menu dropdown-menu-right" role="menu">
												<li><a v-on:click="mixEditSchema(openapi.components.schemas, key, openapi)"><i class="fa fa-fw fa-edit"></i> Edit shared schema</a></li>
												<li><a v-on:click="addSchema()"><i class="fa fa-fw fa-plus"></i> Create schema</a></li>
												<li><a v-on:click="duplicateSchema(key)"><i class="fa fa-fw fa-copy"></i> Duplicate schema</a></li>
												<li><a v-on:click="removeSchema(key)"><i class="fa fa-fw fa-trash-alt"></i> Remove schema</a></li>
											</ul>
										</div>
									</div>
									<div v-bind:id="'schema'+index" class="collapse field-tabs field-acc">
										<div class="form-group">
											<label>Schema Name</label>
											<input class="form-control" placeholder="Required" v-on:focus="storeSchemaName(key)" v-on:change="renameSchema(key)" v-model.lazy="key">
										</div>
										<api-items :openapi="openapi" :child="schema" :name="'schema'+index" :level="1"></api-items>
									</div>
								</div>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="responses">
							<div class="field-sum">
								<a class="field-link nav-caret" data-toggle="collapse" data-target="#responses" aria-controls="responses">
									<h6 class="d-block"><i class="fa fa-fw fa-download"></i> Responses <span class="badge badge-pill badge-outline flt-r" v-if="getObjCount(openapi.components.responses) > 0">{{getObjCount(openapi.components.responses)}}</span></h6>
								</a>
								<span class="ficon-act ficon-act-abs" v-if="getObjCount(openapi.components.responses) < 1">
									<a title="Add Response" v-on:click="addResponse(openapi.components)"><i class="fas fa-lg fa-plus"></i></a>
								</span>
							</div>
							<div id="responses" class="collapse field-color-grey field-level-1 field-tabs">
								<api-response v-for="(response, status) in openapi.components.responses" :openapi="openapi" :response="response" :key="status" :status="status" :method="openapi.components"></api-response>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="requestBodies">
							<div class="field-sum">
								<a class="field-link nav-caret" data-toggle="collapse" data-target="#requestBodies" aria-controls="requestBodies">
									<h6 class="d-block"><i class="fa fa-fw fa-upload"></i> Request Bodies <span class="badge badge-pill badge-outline flt-r" v-if="getObjCount(openapi.components.requestBodies) > 0">{{getObjCount(openapi.components.requestBodies)}}</span></h6>
								</a>
								<span class="ficon-act ficon-act-abs" v-if="getObjCount(openapi.components.requestBodies) < 1">
									<a title="Add request body" v-on:click="addRequestBody(openapi.components.requestBodies)"><i class="fas fa-lg fa-plus"></i></a>
								</span>
							</div>
							<div id="requestBodies" class="collapse field-color-grey field-level-1 field-tabs">
								<api-requestbody v-for="(request, status, index) in openapi.components.requestBodies" :openapi="openapi" :response="request" :key="status" :status="status" :bindex="index" :method="openapi.components.requestBodies" :single="false">
								</api-requestbody>
							</div>
						</article>
						<article class="field-controls field-level-0" data-id="parameters">
							<div class="field-sum">
								<a class="field-link nav-caret" data-toggle="collapse" data-target="#parameters" aria-controls="parameters">
									<h6 class="d-block"><i class="fa fa-fw fa-question"></i> Parameters <span class="badge badge-pill badge-outline flt-r" v-if="getObjCount(openapi.components.parameters) > 0">{{getObjCount(openapi.components.parameters)}}</span></h6>
								</a>
								<span class="ficon-act ficon-act-abs" v-if="getObjCount(openapi.components.parameters) < 1">
									<a title="Add Parameter" v-on:click="addParameter(openapi.components.parameters, Object)"><i class="fas fa-lg fa-plus"></i></a>
								</span>
							</div>
							<div id="parameters" class="collapse field-color-grey field-level-1 field-tabs">
								<api-parameter :parameter="parameter" :index="index" :openapi="openapi" :params="openapi.components.parameters" :type="Object" v-for="(parameter,item,index) in openapi.components.parameters" :key="index" :item="item"></api-parameter>
							</div>
						</article>
					</form>
				</div>
			</aside>
			<aside class="column column-aside edit-column licences-column column-minimize" v-if="api.isproxyapi">
				<div class="clearfix column-header column-min-button">
					<h5 class="column-header-title">Licenses <span class="badge badge-pill badge-outline flt-r">{{myLicenseList.length}}</span></h5>
				</div>
				<div class="column-content">
					<form class="nicescroll-bar" id="config">
						<article v-for="(license, index) in sortBy(sortLicense, myLicenseList)" v-bind:key="license.uuid" class="field-controls field-level-0">
							<div class="field-sum">
								<a class="field-link" data-toggle="collapse" v-bind:data-target="'#license'+index" v-bind:aria-controls="'license'+index">
									<div class="h6">										
										{{license.name}}
										<small>{{license.version}}</small>
									</div>
									<div>
										<small class="txt-uppercase" v-bind:class="{'txt-green': license.licensedocument.info.visibility == 'Public', 'txt-orange': license.licensedocument.info.visibility == 'Private'}">{{license.licensedocument.info.visibility}}</small>
										<div class="d-flex txt-uppercase flt-r small txt-muted">
											<span v-if="!license.isdeleted" :title="license.updated | formatDateTime">
												{{license.created | formatDateTime}}
											</span>
											<span class="ml-auto txt-r" v-if="license.isdeleted">
												{{license.deleted | formatDateTime}}
											</span>
										</div>
									</div>
									<div class="">{{license.licensedocument.info.title}}</div>
									<small class="d-block txt-line my-1 txt-muted">{{license.licensedocument.info.description}}</small>
									<code class="d-block txt-line small txt-blue"><small>{{license.uuid}}</small></code>
								</a>
								<div class="ficon-actions dropdown dropdown-hover">
									<span class="switch switch-primary">
										<input type="checkbox" :name="'isselected'+index" :id="'isselected'+index" v-model="license.isselected" v-on:change="setLicense(license)">
										<label :for="'isselected'+index"></label>
									</span>
								</div>
							</div>
							<div v-bind:id="'license'+index" class="collapse field-tabs field-level-1">
								<div class="px-3">
									<div class="small">
										<h6 class="field-header txt-body row brd-b">SLA</h6>
										<h6 class="mt-2">
											{{license.licensedocument.sla.tierName}}
										</h6>
										<p class="mb-4">
											{{license.licensedocument.sla.description}}
										</p>
										<p class="d-flex txt-uppercase">
											<span class="">
												<strong class="lbl">support Hours</strong>
												{{license.licensedocument.sla.supportHours}}
											</span>
											<span class="ml-auto txt-r">
												<strong class="lbl">availability</strong>
												{{license.licensedocument.sla.availability}}
											</span>
										</p>
										<p>
											<strong class="lbl">black Out Hours Per Year</strong>
											{{license.licensedocument.sla.blackOutHoursPerYear}}
										</p>
										<p>
											<strong class="lbl">performance</strong>
											{{license.licensedocument.sla.performance}}
										</p>
									</div>
									<div class="small">
										<h6 class="field-header txt-body row brd-b">Legal Agreement</h6>
										<h6 class="mt-2">
											{{license.licensedocument.legal.name}}
										</h6>
										<p class="mb-4">
											{{license.licensedocument.legal.description}}
										</p>
										<p class="d-flex txt-uppercase">
											<span class="">
												<strong class="lbl">Agreement Type</strong>
												{{license.licensedocument.legal.agreementType}}
											</span>
											<span class="ml-auto txt-r">
												<strong class="lbl">Document State</strong>
												{{license.licensedocument.legal.documentState}}
											</span>
										</p>
										<p v-if="license.licensedocument.legal.link">
											<strong class="lbl">link</strong>
											<span class="d-block txt-truncate">
												<a :href="license.licensedocument.legal.link" target="_blank">{{license.licensedocument.legal.link}}</a>
											</span>
										</p>
										<p v-if="license.licensedocument.legal.documentText">
											<strong class="lbl">document Text</strong>
											<span class="d-block txt-truncate">
												{{license.licensedocument.legal.documentText}}
											</span>
										</p>
									</div>
									<div class="small">
										<h6 class="field-header txt-body row">Policies</h6>
										<div v-for="(pol, index) in license.policies" class="brd-t py-2 row px-3" :title="pol.uuid + ' | ' + pol.description">
											<h6 class="d-block">{{pol.name}}</h6>
											<span class="d-block">{{pol.policyinstance.info.type}} - {{pol.policyinstance.info.subType}}</span>
											<div class="d-flex mt-2 mb-1">
												<span class="badge req-res-sm" v-bind:class="{'badge-cyan': pol.policyinstance.openApiLifeCycle.onBusinessRequest}">
													<small>Business<br>Request</small>
												</span>
												<span class="badge req-res-sm ml-auto" v-bind:class="{'badge-cyan': pol.policyinstance.openApiLifeCycle.onBusinessResponse}">
													<small>Business<br>Response</small>
												</span>
												<span class="badge req-res-sm" v-bind:class="{'badge-purple': pol.policyinstance.openApiLifeCycle.onProxyRequest}">
													<small>Proxy<br>Request</small>
												</span>
												<span class="badge req-res-sm ml-auto" v-bind:class="{'badge-purple': pol.policyinstance.openApiLifeCycle.onProxyResponse}">
													<small>Proxy<br>Response</small>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</article>
					</form>
				</div>
			</aside>
			<aside class="column column-aside edit-column paths-column column-minimize">
				<div class="clearfix column-header column-min-button">
					<a class="btn btn-lg btn-link txt-link btn-square column-header-button" title="Create Path" v-on:click="addResource();"><i class="fas fa-lg fa-plus"></i></a>
					<h5 class="column-header-title">Paths <span class="badge badge-pill badge-outline flt-r mr-6" v-if="getObjCount(openapi.paths) > 0">{{getObjCount(openapi.paths)}}</span></h5>
				</div>
				<div class="column-content">
					<form class="nicescroll-bar" id="config">
						<!-- <api-resource :openapi="openapi" :path="path" :index="key" :iii="iii" :maintags="openapi.tags" v-for="(path,key,iii) in sortByKeys(openapi.paths)" :key="key" class="field-controls" inline-template> -->
						<api-resource :openapi="openapi" :path="path" :index="key" :iii="iii" :maintags="openapi.tags" v-for="(path,key,iii) in openapi.paths" :key="key" class="field-controls" inline-template>
							<article :id="sanitisePath()" class="field-controls field-level-0">
								<div class="field-sum">
									<a class="field-link field-link-2 nav-caret" data-toggle="collapse" v-bind:data-target="'#path'+iii" v-bind:aria-controls="'path'+iii">
										<small v-if="!$parent.api.isproxyapi">Path</small>
										<small class="d-block txt-muted" v-if="$parent.api.isproxyapi">{{xPathEntry}}</small>
										<h6>{{index}}</h6>
									</a>
									<div class="ficon-actions dropdown dropdown-hover">
										<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
										<ul class="dropdown-menu dropdown-menu-right" role="menu">
											<li v-if="$root.abyssSandbox"><a v-bind:href="$root.abyssEndpoint+index" target="_blank"><i class="fa fa-copy"></i> Open</a></li>
											<li><a v-on:click="duplicateResource(index)"><i class="fa fa-copy"></i> Duplicate path</a></li>
											<li><a v-on:click="removePath(index)"><i class="is-danger fa fa-trash-alt"></i> Remove path</a></li>
										</ul>
									</div>
								</div>
								<div v-bind:id="'path'+iii" class="collapse field-tabs field-acc p-0">
									<div class="px-3">
										<div class="form-group">
											<label>Path:</label>
											<input class="form-control" v-model.lazy="pathEntry">
										</div>
										<div class="form-group">
											<label>Summary</label>
											<input class="form-control" v-model.lazy="path.summary">
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea class="form-control" v-model.lazy="path.description"></textarea>
										</div>
										<div class="form-group">
											<label>Operations</label>
										</div>
									</div>
									<div v-if="Object.keys(httpMethods).length==0" class="ficon-act justify-content-end">
										<a v-on:click="addOperation()">Add Operation <i class="fa fa-fw fa-plus"></i></a>
									</div>
									<api-method :openapi="openapi" :method="method" :index="key" :maintags="maintags" v-for="(method,key,oindex) in httpMethods" :path="index" :key="oindex"></api-method>
								</div>
							</article>
						</api-resource>
					</form>
				</div>
			</aside>
			<section class="column column-main">
				<div class="choose-spec txt-c init-item">
					<h4 class="mb-3">Register New API</h4>
					<div class="fow bg-white mb-3 p-3 shadow-sm">
						<div class="fol-6 p-3">
							<div class="choose bg-green">
								<input type="radio" name="specs" id="scratch" v-on:click="chooseSpec" v-model="api.specs" value="scratch">
								<label for="scratch"><span><i class="fas fa-code"></i></span>Open API 3.0</label>
							</div>
						</div>
						<div class="fol-6 p-3">
							<div class="choose bg-pink">
								<input type="radio" name="specs" id="swagger" v-on:click="chooseSpec" v-model="api.specs" value="swagger">
								<label for="swagger"><span>{...}</span>Swagger</label>
							</div>
						</div>
						<div class="fol-6 p-3">
							<div class="choose bg-blue disabled">
								<input type="radio" name="specs" id="wsdl" v-on:click="chooseSpec" v-model="api.specs" value="wsdl" disabled>
								<label for="wsdl"><span><i class="fas fa-code"></i></span>WSDL</label>
							</div>
						</div>
						<div class="fol-6 p-3">
							<div class="choose bg-orange disabled">
								<input type="radio" name="specs" id="wadl" v-on:click="chooseSpec" v-model="api.specs" value="wadl" disabled>
								<label for="wadl"><span><i class="fas fa-code"></i></span>WADL</label>
							</div>
						</div>
					</div>
					<!-- <h5>or</h5>
					<button type="button" class="btn btn-lg btn-rounded btn-success">CREATE NEW PROXY</button> -->
				</div>

				<div class="code-editor">
					<div class="clearfix column-header column-min-button">
						<div class="dropdown column-header-button">
							<button type="button" class="dropdown-toggle btn btn-lg btn-link txt-link btn-square" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li v-if="outputRendered"><a id="copy-all"><i class="fa fa-fw fa-copy"></i>Copy</a></li>
								<li v-if="outputRendered"><a id="download-all"><i class="fa fa-fw fa-download"></i>Download</a></li>
								<li><a v-on:click="renderOutputAll('yaml');">YAML</a></li>
								<li><a v-on:click="renderOutputAll('json');">JSON</a></li>
								<li><a v-on:click="swaggerRendered = false;outputRendered = false;uploadRendered = true"><i class="fa fa-fw fa-upload"></i>Show Hidden</a></li>
								<li><a v-on:click="swaggerRendered = true;outputRendered = false;uploadRendered = false"><i class="fa fa-fw fa-upload"></i>Show Swagger</a></li>
								<!-- <li><a v-on:click="loadSchema()"><i class="fa fa-fw fa-upload"></i>Load Definition</a></li> -->
								<li><a v-on:click="loadFromUrlSchema('/data/pet3.json')"><i class="fa fa-fw fa-paw"></i>Demo</a></li>
								<li><a v-on:click="clearSchema()"><i class="fa fa-fw fa-trash-alt"></i>Remove All</a></li>
							</ul>
						</div>
						<h5 class="column-header-title">Editor</h5>
					</div>
					<api-output :openapi="openapi" :editor-type="editorType" v-show="outputRendered" inline-template>
					<div class="acedit acedit-single" id="all-output">
						<pre class="prettyprint"><code :id="'pretty-'+editorType">{{openapi}}</code></pre>
					</div>
					</api-output>
					<textarea class="acedit w-50 code" v-show="uploadRendered" v-model="importschema">{{importschema}}</textarea>
					<textarea class="acedit w-50 code" style="left:50%" v-show="uploadRendered" v-model="swaggerText.text">{{swaggerText.text}}</textarea>
					<div id="swagger-editor" v-show="swaggerRendered" class="hidee"></div>
				</div>
			</section>
			<transition name="fade">
				<div th:replace="webroot/frags/api/api-preview.htm :: apiPreview"></div>
			</transition>
			<div class="btn-float-br" v-if="rootState == 'edit' || rootState == 'create'">
				<button type="button" class="btn btn-secondary btn-xl btn-circle" v-on:click="beforeCancelApi(true)"><i class="fas fa-times"></i></button>
				<button type="button" class="btn btn-secondary btn-xl btn-circle" v-on:click="undoApi()"><i class="fas fa-undo"></i></button>
				<button type="button" class="btn btn-green btn-xl btn-circle" v-if="rootState == 'create'" v-on:click="createApi()"><i class="fas fa-plus"></i></button>
				<button type="button" class="btn btn-red btn-xl btn-circle" v-if="rootState == 'edit' && verChanged" v-on:click="createApi()"><i class="fas fa-plus"></i></button>
				<button type="button" class="btn btn-primary btn-xl btn-circle" v-if="rootState == 'edit' && !verChanged" v-bind:class="{'btn-info': isChanged}" v-on:click="saveMyApi()"><i class="fas fa-save"></i></button>
			</div>
		</div>
	</my-apis>
	</main>
</div>

<div class="hide">
	<div th:replace="webroot/frags/api/api-templates.htm :: method"></div>
	<div th:replace="webroot/frags/api/api-templates.htm :: parameter"></div>
	<div th:replace="webroot/frags/api/api-templates.htm :: requestbody"></div>
	<div th:replace="webroot/frags/api/api-templates.htm :: responses"></div>
	<div th:replace="webroot/frags/api/api-templates.htm :: items"></div>
	<div th:replace="webroot/frags/api/api-templates.htm :: mediatype"></div>
	<div th:replace="webroot/frags/api/api-templates.htm :: list"></div>
	<div th:replace="webroot/frags/api/api-templates.htm :: limits"></div>
</div>

<div th:replace="webroot/frags/layout/modal.htm :: schema"></div>
<div th:replace="webroot/frags/layout/modal.htm :: markdown"></div>
<div th:replace="webroot/frags/layout/modal.htm :: alert"></div>
<div th:replace="webroot/frags/layout/modal.htm :: confirm"></div>

<script src="/dist/js/plugins/clipboard.min.js"></script>
<script src="/dist/js/plugins/highlight.pack.js"></script>
<script src="/dist/js/plugins/js-yaml.min.js"></script>
<script src="/dist/js/plugins/jsonpatch.min.js"></script>
<script src="/dist/js/plugins/jsoneditor/jsoneditor.min.js"></script>
<script src="/dist/js/plugins/markdown-it.min.js"></script>
<!-- <script src="/dist/js/swagger/swagger-editor-bundle.js"> </script> -->
<script id="reqVue" data-module="openapi" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>

