<!DOCTYPE html>
<html class="vs-my-messages" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="webroot/frags/layout/head.htm :: header">
<script src="/dist/js/lib/jquery.min.js"></script>
<script src="/dist/js/lib/thymus.min.js" id="thymus"
	data-thx-base-path="." data-thx-frag-extension=".htm"
	data-thx-head-frag="th:include=webroot/frags/layout/head.htm :: header"
	data-thx-preload-js="/dist/js/loader.js"
	data-thx-onfrags="fragsListener();" data-thx-onfrag="fragListener()"></script>
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<my-messages inline-template v-on:set-state="setState" ref="refMyMessages" v-on:set-page="setPage" v-bind:root-state="rootState" v-if="!$root.isLoading && !isLoading">
		<div class="columns">
			<aside class="column column-aside list-column">
				<div class="clearfix column-header column-min-button">
					<h5 class="column-header-title">My Messages</h5>
					<span v-if="filterTxt != ''" v-on:click="getPage(1);filterTxt=''" class="badge badge-blue api-clear-filter">{{filterTxt}} <i class="fas fa-times"></i></span>
				</div>
				<div class="column-content">
					<div class="nicescroll-bar">
						<div class="column-space">
							<ul class="nav">
								<li :class="{'active': filt.fval == 'Inbox'}">
									<a href="#" v-on:click="filterMessages('Inbox', 'folder')"> <i class="fa fa-fw fa-inbox mr-2"></i>
										Inbox
										<span v-html="getNo('Inbox', 'folder')"></span>
									</a>
								</li>
								<li :class="{'active': filt.fval == 'Sent'}">
									<a href="#" v-on:click="filterMessages('Sent', 'folder')"> <i class="fa fa-fw fa-envelope mr-2"></i>
										Sent
										<span v-html="getNo('Sent', 'folder')"></span>
									</a>
								</li>
								<li :class="{'active': filt.fval == 'Important'}">
									<a href="#" v-on:click="filterMessages('Important', 'priority')">
										<i class="fa fa-fw fa-bookmark mr-2"></i>
										Important
										<span v-html="getNo('Important', 'priority')"></span>
									</a>
								</li>
								<li :class="{'active': filt.fkey == 'isstarred'}">
									<a href="#" v-on:click="filterMessages(true, 'isstarred')">
										<i class="fa fa-fw fa-star mr-2"></i>
										Starred
										<span v-html="getNo(true, 'isstarred')"></span>
									</a>
								</li>
								<li :class="{'active': filt.fval == 'Draft'}">
									<a href="#" v-on:click="filterMessages('Draft', 'folder')">
										<i class="fa fa-fw fa-folder mr-2"></i>
										Drafts
										<span v-html="getNo('Draft', 'folder')"></span>
									</a>
								</li>
								<li :class="{'active': filt.fkey == 'istrashed'}">
									<a href="#" v-on:click="filterMessages(true, 'istrashed')">
										<i class="fa fa-fw fa-trash mr-2"></i>
										Trash 
										<span v-html="getNo(true, 'istrashed')"></span>
									</a>
								</li>
							</ul>
							<h6 class="p-3">Message Categories</h6>
							<ul class="nav">
								<li v-for="(type, index) in messageTypes" :class="{'active': filt.fval == type.uuid}">
									<a href="#" :title="type.description" v-on:click="filterMessages(type.uuid, 'messagetypeid')"><i class="fas fa-fw fa-stop mr-2" :class="'label-' + type.uuid"></i>{{type.name}}
										<!-- <span class="badge badge-pill badge-outline flt-r" v-if="getNo(type.uuid, 'messagetypeid') != 0">{{getNo(type.uuid, 'messagetypeid')}}</span> -->
										<span v-html="getNo(type.uuid, 'messagetypeid')"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</aside>
			<section class="column column-main column-main-fixed">
				<div class="w-100">
					<div class="bg-white">
						<v-select label="subject" :filterable="true" :options="messageOptions" @search="getMessageOptions" :on-change="filterMessage" placeholder="Search Messages by Subject">
							<span slot="no-options"></span>
							<template slot="option" slot-scope="option">
								<div><strong class="txt-black">{{ option.subject }}</strong> <small class="txt-muted">{{ option.sentat | formatDateTime }}</small></div>
								<small class="d-block txt-truncate">{{option.body | truncate(75)}}</small>
							</template>
							<template slot="selected-option" slot-scope="option">
								<div><strong class="txt-black">{{ option.subject }}</strong> <small class="txt-muted">{{ option.sentat | formatDateTime }}</small></div>
							</template>
						</v-select>
					</div>
					<table class="table table-edge message m-0">
						<tr>
							<td class="td-min td-check txt-c">
								<span class="checkbox m-0">
									<input type="checkbox" name="checkAll" id="checkAll" v-on:change="checkAll" v-model="allChecked">
									<label class="p-0" for="checkAll"></label>
								</span>
							</td>
							<td>
								<a href="#" class="d-inline-block txt-line-px pl-1 pr-2" v-on:click="setIsRead(false)"><i class="fas fa-fw fa-envelope"></i> Mark as Unread</a>
								<a href="#" class="d-inline-block txt-line-px pl-1 pr-2" v-on:click="setIsRead(true)"><i class="fas fa-fw fa-envelope-open-text"></i> Mark as Read</a>
								<a href="#" class="d-inline-block txt-line-px pl-1 pr-2" v-on:click="setIsTrashed(true)" v-if="filt.fkey != 'istrashed'"><i class="fas fa-fw fa-trash-alt"></i> Move to trash</a>
								<a href="#" class="d-inline-block txt-line-px pl-1 pr-2" v-on:click="setIsTrashed(false)" v-if="filt.fkey == 'istrashed'"><i class="fas fa-fw fa-undo"></i> Recover</a>
								<a href="#" class="d-inline-block txt-line-px pl-1 pr-2" v-on:click="deleteTrashed()" v-if="filt.fkey == 'istrashed'"><i class="fas fa-fw fa-trash-alt"></i> Delete Permanently</a>
							</td>
						</tr>
					</table>
					<table class="table table-hover table-edge message">
						<tr v-for="(message, index) in filteredMessages" v-bind:key="message.uuid" v-bind:class="{'fnt-bold txt-black': myReadeds(message), 'active': isSelected(index)}">
							<td class="td-min td-check txt-c">
								<span class="checkbox m-0">
									<input type="checkbox" name="messagecheck" :id="'message'+message.uuid" v-on:click="checkMessage" v-model="checkedMessages" :value="message">
									<label class="p-0" :for="'message'+message.uuid"></label>
								</span>
							</td>
							<td class="td-min txt-c">
								<i class="fas fa-bookmark txt-grey" v-if="message.priority != 'Important'"></i>
								<i class="fas fa-bookmark txt-orange" v-if="message.priority == 'Important'"></i>
							</td>
							<td class="td-min txt-c cursor-pointer" v-on:click="markAsStarred(message)">
								<i class="fas fa-star txt-grey" v-if="!message.isstarred"></i>
								<i class="fas fa-star txt-orange" v-if="message.isstarred"></i>
							</td>
							<td class="td-message-folder"><span class="badge badge-outline">{{message.folder}}</span></td>
							<td class="txt--truncate" v-on:click="selectMessage(message, index);">
								<span class="td-name txt-black d-inline-block txt-line-px" v-if="message.folder == 'Inbox' && filt.fval != 'Sent'">From: {{message.sender.displayname}}</span>
								<span class="td-name txt-black d-inline-block txt-line-px" v-if="message.folder == 'Inbox' && filt.fval == 'Sent'">To: {{message.sender.displayname}}</span>
								<span class="td-name txt-black d-inline-block txt-line-px" v-if="message.folder == 'Sent' || message.folder == 'Draft'">To: {{message.receiver.displayname}}</span>
								<div data-xxx="$root.abyssSandbox" class="sandbox-item">
									<code class="small txt-green"><small>SENDER: {{message.sender.subjectid}}</small></code>
								</div>
							</td>
							<td class="txt--truncate" v-on:click="selectMessage(message, index);">
								<span class="pr-1 d-inline-block txt-line-px">{{message.subject}}</span>
								<small class="txt-muted">{{message.body | truncate(75)}}</small>
								<div data-xxx="$root.abyssSandbox" class="sandbox-item">
									<code class="small txt-blue"><small>RECEIVER: {{message.receiver.subjectid}}</small></code>
								</div>
							</td>
							<td class="td-datetime txt-r" v-on:click="selectMessage(message, index);">
								<small v-if="message.folder != 'Draft' && !message.istrashed">{{message.sentat | formatDateTime}}</small>
								<small v-if="message.folder == 'Draft' && !message.istrashed">{{message.updated | formatDateTime}}</small>
								<!-- <small v-if="message.istrashed">{{message.deleted | formatDateTime}}</small> -->
							</td>
							<td class="td-message-type txt-r pr-3" v-on:click="selectMessage(message, index);"><span class="badge txt-white" :class="'badge-' + message.messageType.uuid">{{message.messageType.name}}</span></td>
							<!-- <td class="td-min txt-c cursor-pointer" v-on:click="trashMessage(message, index)" v-bind:class="{'tr-deleted': message.istrashed }">
								<i class="fa fa-trash-alt"></i>
							</td> -->
						</tr>
					</table>
				</div>
			</section>
			<transition name="fade">
			<div class="preview-test-overlay" v-on:click="$emit('set-state', 'init'); cancelMessage()" v-if="rootState != 'init'"></div>
			</transition>
			<transition name="slide">
			<div class="preview-test" v-if="rootState != 'init'">
				<div class="clearfix column-header column-min-button">
					<div class="column-header-button">
						<button type="button" class="close" v-on:click="$emit('set-state', 'init'); cancelMessage()">×</button>
					</div>
					<h5 class="px-3 py-2 m-0">
						<span v-if="rootState == 'view'">View Message</span>
						<span v-if="rootState == 'reply'">Reply Message</span>
						<span v-if="rootState == 'create'">New Message</span>
						<span v-if="rootState == 'edit'">Edit Message</span>
						<small v-if="rootState == 'view'" class="opaque sandbox-item"><code class="txt-pink"><small>{{viewMessage.uuid}}</small></code></small>
					</h5>
				</div>
				<div class="legal-text">
					<div class="nicescroll--bar wk-scroll">
						<div class="p--3" v-if="rootState == 'view'">
							<div class="d-flex align-items-center p-3">
								<h6 class="m-0">
									<i class="fas fa-bookmark txt-orange mr-2" v-if="viewMessage.priority == 'Important'"></i>
									{{viewMessage.subject}}
								</h6>
								<span class="badge txt-white ml-auto" :class="'badge-' + viewMessage.messageType.uuid">{{viewMessage.messageType.name}}</span>
							</div>
							<!-- <div v-for="(message, index) in messageList" v-bind:key="message.uuid"> -->
							<ul>
								<message-tree :message="m" v-for="(m, index) in sortByNested(this.sortTree, messageList)" v-bind:key="m.uuid" v-if="m.conversationid == viewMessage.conversationid"></message-tree>
							</ul>
						</div>
						<div class="p-3">
							<input type="text" name="parentmessageid" id="parentmessageid" v-model="message.parentmessageid" class="form-control hide">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group v-select-color-purple" v-if="rootState != 'view'" v-bind:class="{ 'has-error': errors.has('receiver') }">
										<label>To</label>
										<v-select label="displayname" :filterable="false" :options="$root.userOptions" @search="$root.getUserOptions" v-model="message.receiver" v-validate="'required'" name="receiver" @input="setReceiver">
											<span slot="no-options"></span>
											<template slot="option" slot-scope="option">
												<div :class="{'txt-muted': option.istrashed}">
													<strong>{{ option.displayname }}</strong>
												</div>
											</template>
											<template slot="selected-option" slot-scope="option">
												<div :class="{'txt-muted': option.istrashed}">
													<strong>{{ option.displayname }}</strong>
												</div>
											</template>
										</v-select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group " v-if="rootState != 'view'" v-bind:class="{ 'has-error': errors.has('messagetype') }">
										<label>Message Category</label>
										<select class="form-control" name="messagetype" id="messagetype" v-model="message.messagetypeid" v-validate="'required'">
											<option v-for="(type,index) in messageTypes" :value="type.uuid">{{type.name}}</option>
										</select>
										<em v-bind:class="{ 'show': errors.has('messagetype') }">{{ errors.first('messagetype') }}</em>
									</div>
								</div>
							</div>
							<div class="form-group" v-if="rootState != 'view'" v-bind:class="{ 'has-error': errors.has('subject') }">
								<label for="subject">Subject:</label>
								<input type="text" name="subject" id="subject" v-model="message.subject" v-validate="'required'" class="form-control">
								<em v-bind:class="{ 'show': errors.has('subject') }">{{ errors.first('subject') }}</em>
							</div>
							<div class="position-relative mb-3 messages" v-bind:class="{ 'has-error': errors.has('body') }">
								<!-- <div v-html="message.html"></div> -->
								<label for="body">Message to <span v-if="message.receiver && rootState == 'view'">{{message.receiver.displayname}} <code class="small sandbox-item"><small>{{message.receiver.subjectid}}</small></code></span></label>
								<medium-editor ref="editor" :text='message.html' :options='editorOptions' v-on:edit='onEdit' custom-tag='div'></medium-editor>
								<div class="fow mt-3">
									<div class="fol">
										<textarea type="text" name="body" id="body" v-model.lazy="message.body" v-validate="'required'" class="form-control message-text code" v-on:change="toHtml($event.target.value)"></textarea>
									</div>
									<div class="fol">
										<textarea type="text" v-model="message.html" class="form-control message-text code" v-on:change="toMarkdown($event.target.value)"></textarea>
									</div>
								</div>
								<em v-bind:class="{ 'show': errors.has('body') }">{{ errors.first('body') }}</em>
							</div>
							<div class="form-group form-inline" v-if="rootState != 'view'">
								<label class="d-block txt-line mb-0">Mark as Important</label>
								<span class="switch switch-primary ml-auto">
									<input type="checkbox" id="priority" name="priority" v-model="message.priority" true-value="Important" false-value="">
									<label for="priority"></label>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			</transition>
			<div class="btn-float-br">
				<button class="btn btn-xl btn-green btn-circle" v-if="rootState == 'init'" v-on:click="$emit('set-state', 'create')" title="NEW MESSAGE"><i class="fas fa-plus"></i></button>

				<button type="button" class="btn btn-secondary btn-xl btn-circle" v-if="rootState != 'init'" v-on:click="$emit('set-state', 'init'); cancelMessage()" title="CANCEL MESSAGE"><i class="fas fa-times"></i></button>

				<button type="button" class="btn btn-secondary btn-xl btn-circle" v-if="rootState != 'init' && rootState != 'create' && filt.fkey != 'istrashed'" v-on:click="trashMessage(message)" title="MOVE TO TRASH"><i class="far fa-trash-alt"></i></button>

				<button type="button" class="btn btn-secondary btn-xl btn-circle" v-if="rootState != 'init' && rootState != 'create' && filt.fkey == 'istrashed'" v-on:click="deleteMessage(message)" title="DELETE PERMANENTLY"><i class="fas fa-trash-alt"></i></button>

				<button type="button" class="btn btn-secondary btn-xl btn-circle" v-if="rootState == 'edit'"  v-on:click="messageAction('edit')" title="SAVE MESSAGE"><i class="far fa-save"></i></button>

				<button type="button" class="btn btn-secondary btn-xl btn-circle" v-if="rootState == 'create' || rootState == 'view' && filt.fkey != 'istrashed'"  v-on:click="messageAction('add')" title="SAVE AS DRAFT"><i class="far fa-save"></i></button>

				<button type="button" class="btn btn-green btn-xl btn-circle" v-if="rootState != 'init' && rootState != 'view'" v-on:click="messageAction('send')" title="SEND MESSAGE"><i class="far fa-paper-plane"></i></button>

				<button type="button" class="btn btn-green btn-xl btn-circle" v-if="rootState == 'view'" v-on:click="messageAction('send')" title="REPLY MESSAGE"><i class="far fa-paper-plane"></i></button>
			</div>
		</div>
	</my-messages>
	</main>
</div>
<div type="text/x-template" class="hide" id="message-tree">
	<!-- <ul class=""> -->
	<li class="">
		<div class="px-3 pb-1 pt-3 brd-b">
			<strong class="txt-black">{{message.sender.displayname}}</strong>
			<span>{{message.sentat | formatDateTime}}</span>
			<code class="small txt-green sandbox-item"><small>SENDER: {{message.sender.subjectid}}</small></code>
			<span class="flt-r"><code class="small txt-blue sandbox-item"><small>{{message.receiver.subjectid}}</small></code> To: <strong class="txt-black">{{message.receiver.displayname}}</strong></span>
		</div>
		<div class="px-3 py-2 messages">
			<code class="small sandbox-item"><small>{{message.uuid}}</small></code>
			<!-- <pre>{{message.body}}</pre> -->
			<div v-html="markdownMessage"></div>
		</div>
		<!-- <message-tree :message="message.children" v-if="message.children"></message-tree> -->
	</li>
	<!-- </ul> -->
</div>
<script src="/dist/js/plugins/markdown-it.min.js"></script>
<script id="reqVue" data-module="messages" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>

