<!DOCTYPE html>
<html class="page-auth" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webroot/frags/layout/head.htm :: header">
</head>
<body>
<main id="portal">
	<div th:replace="webroot/frags/layout/navs.htm :: navError"></div>
	<h1>Reset Password</h1>	
	<form action="/abyss/reset-password" method="POST" id="validForm" v-on:submit="validateBeforeSubmit">
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('newPassword') }">
			<label for="newPassword">New Password</label>
			<input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Please enter new password" v-validate="'required|min:3'">
			<em v-bind:class="{ 'show': errors.has('newPassword') }">{{ errors.first('newPassword') }}</em>
		</div>
		<div class="form-group" v-bind:class="{ 'has-error': errors.has('confirmPassword') }">
			<label for="confirmPassword">Confirm Password</label>
			<input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Please enter new password again" v-validate="'required|min:3|confirmed:newPassword'">
			<!--  data-vv-as="newPassword" -->
			<em v-bind:class="{ 'show': errors.has('confirmPassword') }">{{ errors.first('confirmPassword') }}</em>
		</div>
		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary btn-rounded btn-lg">Reset</button>
		</div>
	</form>
	<div th:replace="webroot/frags/layout/footer.htm :: copy"></div>
</main>
<script id="reqJs" data-module="auth" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>