<!DOCTYPE html>
<html class="page-auth" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="webroot/frags/layout/head.htm :: header">
	<title></title></head>
<body>
<main id="portal">
	<div th:replace="webroot/frags/layout/navs.htm :: navIndex"></div>
	<h1>Select Your Organization</h1>
	<h6>Please select active organization</h6>
	<form action="/abyss/select-organization" method="POST" id="validForm" v-on:submit="validateBeforeSubmit">
		<div class="form-group " v-bind:class="{ 'has-error': errors.has('orgid') }">
			<label>Organization Name</label>
			<select th:field="*{userOrganizationArray}" class="form-control" name="orgid" id="orgid" v-validate="'required'">
				<option th:each="org : ${userOrganizationArray}" th:value="${org.uuid}+'|'+${org.name}" th:label="${org.name}" >[[${org.name}]]</option>
			</select>
			<em v-bind:class="{ 'show': errors.has('orgid') }">{{ errors.first('orgid') }}</em>
		</div>
		<div class="form-group txt-c">
			<button type="submit" class="btn btn-primary btn-rounded btn-lg">Select Organization</button>
		</div>
	</form>
	<div th:replace="webroot/frags/layout/footer.htm :: copy"></div>
	<div th:replace="webroot/frags/layout/terms.htm :: terms"></div>
</main>
<script id="reqJs" data-module="auth" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>