<!DOCTYPE html>
<html class="vs-users" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="webroot/frags/layout/head.htm :: header">
<script src="/dist/js/lib/jquery.min.js"></script>
<script src="/dist/js/lib/thymus.min.js" id="thymus"
	data-thx-base-path="." data-thx-frag-extension=".htm"
	data-thx-head-frag="th:include=webroot/frags/layout/head.htm :: header"
	data-thx-preload-js="/dist/js/loader.js"
	data-thx-onfrags="fragsListener();" data-thx-onfrag="fragListener()"></script>
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<users inline-template v-on:set-state="setState" v-on:set-page="setPage" v-bind:root-state="rootState" v-if="!$root.isLoading">
		<div class="columns">
			<section class="column column-main column-main-fixed">
				<div class="column-main-fixed-overlay" v-if="rootState == 'add' || rootState == 'edit'" v-on:click="$emit('set-state', 'init'); cancelUser()"></div>
				<div class="nicescroll--bar">
					<div class="fow no-gutters">
						<div class="fol fol-6 form-group mb-0 bg-white">
							<v-select label="subjectname" :filterable="true" :options="$root.userOptions" @search="$root.getUserOptions" :on-change="filterUser" placeholder="Search for USERNAME">
								<span slot="no-options"></span>
								<template slot="option" slot-scope="option">
									<strong>{{ option.subjectname }}</strong>
									<div>{{ option.displayname }}</div>
									<small>{{ option.email }}</small>
								</template>
								<template slot="selected-option" slot-scope="option">
									<strong>{{ option.subjectname }}</strong>
									<span>{{ option.displayname }}</span>
									<small>{{ option.email }}</small>
								</template>
							</v-select>
						</div>
						<div class="fol form-group mb-0 bg-white">
							<v-select label="firstname" :filterable="true" :options="groupOptions" @search="getGroupOptions" :on-change="filterGroup" placeholder="Search Groups">
								<span slot="no-options"></span>
							</v-select>
						</div>
						<!-- <div class="fol form-group mb-0 bg-white">
							<v-select label="permission" :filterable="true" :options="permissionOptions" :on-change="filterPermission" placeholder="Search Permissions">
								<span slot="no-options"></span>
							</v-select>
						</div> -->
					</div>
					<table class="table table-hover table-bordered table-edge">
						<tr>
							<th class="td-bool" v-bind:class="sort.order" v-on:click="sortList(sort, 'isactivated', Boolean)">Status</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'firstname', String)">First Name</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'lastname', String)">Last Name</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'subjectname', String)">Username / Email</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'displayname', String)">Display Name</th>
							<th class="td-datetime-x" v-bind:class="sort.order" v-on:click="sortList(sort, 'created', Date)">Created / Updated / Deleted</th>
							<th class="td-datetime" v-bind:class="sort.order" v-on:click="sortList(sort, 'totallogincount', Number)">Logins</th>
							<!-- <th class="td-datetime" v-bind:class="sort.order" v-on:click="sortList(sort, 'failedlogincount', Number)">Failed Logins</th> -->
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'organization.name', String)">Organization</th>
							<th class="td-action-1"></th>
							<th class="td-action-1"></th>
							<th class="td-action-1"></th>
						</tr>
						<!-- <tr v-for="(user, index) in sortByNested(sort, userList)" v-bind:key="user.uuid" v-bind:class="{'active': isSelected(index), 'tr-deleted': user.isdeleted}" v-if="user.groupfilter && user.permissionfilter"> -->
						<tr v-for="(user, index) in sortByNested(sort, userList)" v-bind:key="user.uuid" v-bind:class="{'active': isSelected(index), 'tr-deleted': user.isdeleted}" v-if="user.groupfilter">
							<td class="txt-c">
								<i class="fas fa-times-circle" title="Not Activated" v-if="!user.isactivated"></i>
								<i class="fas fa-check-circle txt-green" title="Activated" v-if="user.isactivated"></i>
							</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.lastname }}</td>
							<td>
								<div class="d-block">{{user.subjectname}}</div>
								<small class="d-block">{{user.email}}</small>
								<code class="d-block small txt-purple"><small>{{user.uuid}}</small></code>
							</td>
							<td>
								{{user.displayname}}
								<small class="d-block">{{user.description}}</small>
							</td>
							<td>
								<div>
									<strong class="small">CREATED:</strong>
									<small>{{user.created | formatDateTime}}</small>
								</div>
								<div>
									<strong class="small">UPDATED:</strong>
									<small>{{user.updated | formatDateTime}}</small>
								</div>
								<div v-if="user.isdeleted">
									<strong class="small">DELETED:</strong>
									<small>{{user.deleted | formatDateTime}}</small>
								</div>
							</td>
							<td>
								<div class="d-flex align-items-center">
									<div class="d-block small">
										<strong class="d-block">LAST LOGIN</strong>
										<span class="d-block">{{user.lastloginat | formatDateTime}}</span>
									</div>
									<strong class="ml-auto">{{user.totallogincount}}</strong>
								</div>
							<!-- </td>
							<td> -->
								<div class="d-flex align-items-center">
									<div class="d-block small">
										<strong class="d-block">LAST FAILED</strong>
										<span class="d-block">{{user.lastfailedloginat | formatDateTime}}</span>
									</div>
									<strong class="ml-auto">{{user.failedlogincount}}</strong>
								</div>
							</td>
							<td>
								<div class="" v-if="user.organization">
									<strong class="small">ORGANIZATION:</strong>
									<small class="ml--auto">{{user.organization.name}}</small>
								</div>
								<div class="">
									<strong class="small">DIRECTORY:</strong>
									<small class="ml--auto">{{getDirName(user.subjectdirectoryid)}}</small>
								</div>
								<div class="">
									<strong class="small">GROUP:</strong>
									<small v-for="(u, index) in user.groups">
										{{u.firstname}}<span v-if="index != (user.groups.length - 1)">, </span>
									</small>
									<!-- <small class="ml--auto">{{getGroupName(user.uuid)}}</small> -->
									<!-- <small class="ml--auto">{{user.groupslist}}</small> -->
								</div>
								<!-- <div class="">
									<strong class="small">PERMISSIONS:</strong>
									<small class="ml--auto">{{getPermissionName(user.uuid)}}</small>
								</div> -->
							</td>
							<td class="td-action-1">
								<a class="btn btn-xl txt-link btn-square" title="CHANGE LOGS" v-on:click="changeLogs(user.uuid, '/subject*/_search');"><i class="fa fa-search"></i></a>
							</td>
							<td class="td-action-1">
								<a v-if="!user.isdeleted" class="btn btn-xl txt-link btn-square" title="EDIT USER" v-on:click="$emit('set-state', 'edit'); selectUser(user, index);"><i class="fas fa-edit"></i></a>
							</td>
							<td class="td-action-1">
								<a v-if="!user.isdeleted" class="btn btn-xl txt-link txt-grey btn-square" title="DELETE USER" v-on:click="deleteUser(user, index)"><i class="fas fa-trash-alt"></i></a>
							</td>
						</tr>
					</table>
					<div th:replace="webroot/frags/layout/pagination.htm :: pagination"></div>
				</div>
			</section>
			<aside class="column column-aside add-column">
				<div class="clearfix brd-b column-header column-min-button">
					<h5 class="column-header-title" v-if="rootState == 'init' || rootState == 'add'">Add New User</h5>
					<h5 class="column-header-title" v-if="rootState == 'edit'">Edit User</h5>
				</div>
				<div class="column-content">
					<div class="nicescroll-bar">
						<div class="p-3">
							<div class="form-group" v-bind:class="{ 'has-error': errors.has('firstname') }">
								<label for="firstname">First Name:</label>
								<input type="text" name="firstname" id="firstname" v-model="user.firstname" v-validate="'required|min:2|alpha_spaces'" class="form-control">
								<em v-bind:class="{ 'show': errors.has('firstname') }">{{ errors.first('firstname') }}</em>
							</div>
							<div class="form-group" v-bind:class="{ 'has-error': errors.has('lastname') }">
								<label for="lastname">Last Name:</label>
								<input type="text" name="lastname" id="lastname" v-model="user.lastname" v-validate="'required|min:2|alpha_spaces'" class="form-control">
								<em v-bind:class="{ 'show': errors.has('lastname') }">{{ errors.first('lastname') }}</em>
							</div>
							<div class="form-group" v-bind:class="{ 'has-error': errors.has('subjectname') }">
								<label for="subjectname">UserName:</label>
								<input type="text" name="subjectname" id="subjectname" v-model="user.subjectname" v-validate="{required: true, regex: /^[0-9A-Z_@.-]*$/i, min: 3}" class="form-control">
								<em v-bind:class="{ 'show': errors.has('subjectname') }">{{ errors.first('subjectname') }}</em>
							</div>
							<div class="form-group" v-bind:class="{ 'has-error': errors.has('displayname') }">
								<label for="displayname">Display Name:</label>
								<input type="text" name="displayname" id="displayname" v-model="user.displayname" v-validate="{required: true, alpha_spaces: true, min: 3, max: 30}" class="form-control">
								<em v-bind:class="{ 'show': errors.has('displayname') }">{{ errors.first('displayname') }}</em>
							</div>
							<div class="form-group" v-bind:class="{ 'has-error': errors.has('email') }">
								<label for="email">Email:</label>
								<input type="text" name="email" id="email" v-model="user.email" v-validate="'required|email'" class="form-control">
								<em v-bind:class="{ 'show': errors.has('email') }">{{ errors.first('email') }}</em>
							</div>
							<div class="form-group">
								<label for="url">Url:</label>
								<input type="text" name="url" id="url" v-model="user.url" class="form-control">
							</div>
							<div class="form-group form-inline">
								<label class="d-block">Activate User</label>
								<span class="switch switch-primary ml-auto">
									<input type="checkbox" name="isactivated" id="isactivated" v-model="user.isactivated" checked>
									<label for="isactivated"></label>
								</span>
							</div>
							<p v-if="rootState == 'edit'"><a class="txt-link" v-on:click="resetPassword = !resetPassword">Reset Password</a></p>
							<div v-show="rootState == 'add' || resetPassword">
								<div class="form-group js-showpass" v-bind:class="{ 'has-error': errors.has('password') }">
									<label class="clearfix d-block" for="password">Password: <a class="flt-r txt-link" v-on:click="regenPass()">Regenerate Password</a></label>
									<div class="input-group">
										<input type="password" name="password" id="password" v-model="user.password" v-validate="rootState == 'add' ? 'required|min:8|password_strength' : ''" class="form-control">
										<a class="txt-link js-eye input-group-addon"><i class="fas fa-eye"></i></a>
									</div>
									<em v-bind:class="{ 'show': errors.has('password') }">{{ errors.first('password') }}</em>
								</div>
								<div class="form-group ">
									<span class="checkbox checkbox-primary">
										<input type="checkbox" name="notify" id="notify" v-model="user.notify">
										<label for="notify">Send Notificaiton</label>
									</span>
								</div>
							</div>
							<p v-if="rootState == 'add'">This user will be able to change the password after first login</p>
							<div class="form-group d-flex justify-content-between">
								<button type="button" class="btn btn-secondary btn-rounded" v-on:click="$emit('set-state', 'init'); cancelUser()">CANCEL</button>
								<button type="button" class="btn btn-primary btn-rounded" v-if="rootState == 'add'" v-on:click="userAction('add')">ADD USER</button>
								<button type="button" class="btn btn-primary btn-rounded" v-if="rootState == 'edit'" v-on:click="userAction('edit')">SAVE</button>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<aside class="column column-aside permissions-column">
				<div class="clearfix brd-b column-header column-min-button">
					<h5 class="column-header-title">User Management</h5>
				</div>
				<div class="column-content">
					<div class="nicescroll-bar">
						<div class="p-3">
							<div class="form-group " v-bind:class="{ 'has-error': errors.has('organization') }">
								<label>Organization Id</label>
								<select class="form-control" name="organization" id="organization" v-model="user.organizationid" v-validate="'required'">
									<option v-for="(org,index) in orgOptions" :value="org.uuid" :class="{'op-deleted': org.isdeleted}" :disabled="org.isdeleted">{{org.name}}</option>
								</select>
								<em v-bind:class="{ 'show': errors.has('organization') }">{{ errors.first('organization') }}</em>
							</div>
							<div class="form-group " v-bind:class="{ 'has-error': errors.has('dirid') }">
								<label>Directory</label>
								<select class="form-control" name="dirid" id="dirid" v-model="user.subjectdirectoryid" v-validate="'required'">
									<option v-for="(dir,index) in directoryOptions" :value="dir.uuid" :class="{'op-deleted': dir.isdeleted}" :disabled="dir.isdeleted">{{dir.directoryname}}</option>
								</select>
								<em v-bind:class="{ 'show': errors.has('dirid') }">{{ errors.first('dirid') }}</em>
							</div>
							<div class="form-group">
								<label for="description">Description:</label>
								<textarea type="text" name="description" id="description" v-model="user.description" class="form-control"></textarea>
							</div>
							<div class="form-group v-select-color-pink">
								<label>Add User to Group:</label>
								<!-- <v-select label="firstname" multiple :filterable="false" :options="groupOptions" @search="getGroupOptions" v-model="user.groups"> -->
								<v-select label="firstname" multiple :filterable="false" :options="groupOptions" v-model="user.groups" :on-change="setUserGroups">
									<span slot="no-options"></span>
									<template slot="option" slot-scope="option">
										<div>{{ option.firstname }}</div>
										<code class="d-block small"><small>{{option.uuid}}</small></code>
									</template>
									<template slot="selected-option" slot-scope="option">
										<div>{{ option.firstname }}</div>
										<code class="d-block small"><small>{{option.uuid}}</small></code>
									</template>
								</v-select>
							</div>
							<!-- <div class="form-group v-select-color-green">
								<label>Assign Permission to User:</label>
								<v-select label="permission" multiple :filterable="false" :options="permissionOptions" v-model="user.permissions" :on-change="setUserPermissions">
									<span slot="no-options"></span>
								</v-select>
							</div> -->
						</div>
					</div>
				</div>
			</aside>
			<div class="btn-float-br btn-float-under">
				<button class="btn btn-xl btn-green btn-circle" v-on:click="$emit('set-state', 'add', 'init')" title="ADD NEW USER "><i class="fas fa-plus"></i></button>
			</div>
		</div>
	</users>
	</main>
</div>
<script id="reqVue" data-module="users" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>