<!DOCTYPE html>
<html class="vs-user-groups" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="webroot/frags/layout/head.htm :: header">
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<user-groups inline-template v-on:set-state="setState" v-on:set-page="setPage" v-bind:root-state="rootState">
		<div class="columns">
			<section class="column column-main column-main-fixed">
				<div class="column-main-fixed-overlay" v-if="rootState == 'add' || rootState == 'edit'" v-on:click="$emit('set-state', 'init'); cancelGroup()"></div>
				<div class="nicescroll--bar">
					<div class="fow no-gutters">
						<div class="fol form-group mb-0 bg-white">
							<v-select label="groupname" :filterable="false" :options="groupOptions" @search="getGroupOptions" :on-change="filterGroup" placeholder="Search Groups">
								<span slot="no-options"></span>
							</v-select>
						</div>
					</div>
					<table class="table table-hover table-bordered table-edge">
						<tr>
							<th class="td-bool" v-bind:class="sort.order" v-on:click="sortList(sort, 'isenabled', Boolean)">Status</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'groupname', String)">Group Name</th>
							<th class="td-number" v-bind:class="sort.order" v-on:click="sortList(sort, 'userCount', Number)">Users</th>
							<th class="td-datetime-x" v-bind:class="sort.order" v-on:click="sortList(sort, 'created', Date)">Created / Updated / Deleted</th>
							<th class="td-datetime" v-bind:class="sort.order" v-on:click="sortList(sort, 'effectivestartdate', Date)">Effective From</th>
							<th class="td-datetime" v-bind:class="sort.order" v-on:click="sortList(sort, 'effectiveenddate', Date)">Effective To</th>
							<th class="td-long" v-bind:class="sort.order" v-on:click="sortList(sort, 'permissions', Array)">Permissions</th>
							<th class="td-action-1"></th>
							<th class="td-action-1"></th>
						</tr>
						<tr v-for="(group, index) in sortBy(sort, groupList)" v-bind:key="group.uuid" v-bind:class="{'active': isSelected(index), 'text-muted': !group.isenabled}">
							<td class="text-center">
								<i class="fas fa-circle" title="Not Enabled" v-if="!group.isenabled"></i>
								<i class="fas fa-check-circle txt-green" title="Enabled" v-if="group.isenabled"></i>
								<i class="fas fa-times-circle txt-red" title="Deleted" v-if="group.isdeleted"></i>
							</td>
							<td>
								<div class="d-block">{{group.groupname}}</div>
								<small class="d-block">{{group.description}}</small>
							</td>
							<td>{{group.userCount}}</td>
							<td>
								<div>
									<strong class="small">CREATED:</strong>
									<small>{{group.created | formatDateTime}}</small>
								</div>
								<div>
									<strong class="small">UPDATED:</strong>
									<small>{{group.updated | formatDateTime}}</small>
								</div>
								<div v-if="group.isdeleted">
									<strong class="small">DELETED:</strong>
									<small>{{group.deleted | formatDateTime}}</small>
								</div>
							</td>
							<td>{{group.effectivestartdate | formatDateTime}}</td>
							<td>{{group.effectiveenddate | formatDateTime}}</td>
							<td>
								<span v-for="(g, index) in group.permissions">
									{{g.name}}
									<span v-if="index != (group.permissions.length - 1)">, </span>
								</span>
								<!-- commaJoin[index] -->
							</td>
							<td class="td-action-1">
								<a href="#" class="btn btn-xl txt-link btn-square" title="EDIT GROUP" v-on:click="$emit('set-state', 'edit'); selectGroup(group, index);"><i class="fas fa-edit"></i></a>
							</td>
							<td class="td-action-1">
								<a href="#" class="btn btn-xl txt-link txt-grey btn-square" title="DELETE GROUP" v-on:click="deleteGroup(group, index)"><i class="fas fa-trash-alt"></i></a>
							</td>
						</tr>
					</table>
					<div th:replace="webroot/frags/layout/pagination.htm :: pagination"></div>
				</div>
			</section>
			<aside class="column column-aside add-column">
				<div class="nicescroll-bar">
					<div class="clearfix brd-b column-header column-min-button">
						<h5 class="column-header-title" >
						<span v-if="rootState == 'add'">Add New Group</span>
						<span v-if="rootState == 'edit'">Edit Group</span>
						</h5>
					</div>
					<div class="p-3">
						<div class="form-group" v-bind:class="{ 'has-error': errors.has('groupname') }">
							<label for="groupname">Group Name:</label>
							<input type="text" name="groupname" id="groupname" v-model="group.groupname" v-validate="'required|min:2|alpha_spaces'" class="form-control" placeholder="groupname">
							<em v-bind:class="{ 'show': errors.has('groupname') }">{{ errors.first('groupname') }}</em>
						</div>
						<div class="form-group" v-bind:class="{ 'has-error': errors.has('description') }">
							<label for="description">Decription:</label>
							<textarea type="text" name="description" id="description" v-model="group.description" v-validate="'required'" class="form-control" placeholder="Decription"></textarea>
							<em v-bind:class="{ 'show': errors.has('description') }">{{ errors.first('description') }}</em>
						</div>
						<div class="form-group form-group-date" v-bind:class="{ 'has-error': errors.has('effectivestartdate') }">
							<label class="">Effective From</label>
							<div class="input-group w-100">
								<date-picker name="effectivestartdate" v-model="group.effectivestartdate" :config="config" v-validate="'required'"></date-picker>
								<span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
							</div>
							<em v-bind:class="{ 'show': errors.has('effectivestartdate') }">{{ errors.first('effectivestartdate') }}</em>
						</div>
						<div class="form-group" v-bind:class="{ 'has-error': errors.has('effectiveenddate') }">
							<label class="">Effective To</label>
							<div class="input-group w-100">
								<date-picker name="effectiveenddate" v-model="group.effectiveenddate" :config="config" v-validate="'required'"></date-picker>
								<span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
							</div>
							<em v-bind:class="{ 'show': errors.has('effectiveenddate') }">{{ errors.first('effectiveenddate') }}</em>
						</div>
						<div class="form-group ">
							<span class="checkbox">
								<input type="checkbox" name="isenabled" id="isenabled" v-model="group.isenabled">
								<label for="isenabled">Enabled</label>
							</span>
						</div>
						<div class="form-group d-flex justify-content-between">
							<button type="button" class="btn btn-secondary btn-rounded" v-on:click="$emit('set-state', 'init'); cancelGroup()">CANCEL</button>
							<button type="button" class="btn btn-primary btn-rounded" v-if="rootState == 'add'" v-on:click="groupAction('add')">ADD GROUP</button>
							<button type="button" class="btn btn-primary btn-rounded" v-if="rootState == 'edit'" v-on:click="groupAction('edit')">SAVE</button>
						</div>
					</div>
				</div>
			</aside>
			<aside class="column column-aside permissions-column">
				<div class="nicescroll-bar">
					<div class="clearfix brd-b column-header column-min-button">
						<h5 class="column-header-title">Group Management</h5>
					</div>
					<div class="p-3">
						<div class="form-group " v-bind:class="{ 'has-error': errors.has('orgid') }">
							<label>Organization Id</label>
							<select class="form-control" name="orgid" id="orgid" v-model="group.organizationid" v-validate="'required'">
								<option v-for="(org,index) in orgOptions" :value="org.organizationid">{{org.name}}</option>
							</select>
							<em v-bind:class="{ 'show': errors.has('orgid') }">{{ errors.first('orgid') }}</em>
						</div>
						<div class="form-group " v-bind:class="{ 'has-error': errors.has('dirid') }">
							<label>Directory</label>
							<select class="form-control" name="dirid" id="dirid" v-model="group.subjectdirectoryid" v-validate="'required'">
								<option v-for="(dir,index) in directoryOptions" :value="dir.uuid">{{dir.directoryname}}</option>
							</select>
							<em v-bind:class="{ 'show': errors.has('dirid') }">{{ errors.first('dirid') }}</em>
						</div>
						<div class="form-group v-select-color-green">
							<label>Permissions</label>
							<v-select label="permission" multiple :filterable="false" :options="permissionOptions" @search="getPermissionOptions" v-model="group.permissions">
								<span slot="no-options"></span>
							</v-select>
						</div>
					</div>
				</div>
			</aside>
			<aside class="column column-aside users-column">
				<div class="nicescroll-bar">
					<div class="clearfix brd-b column-header column-min-button">
						<h5 class="column-header-title">Add Users to this group</h5>
					</div>
					<div class="p-3">
						<div class="form-group v-select-color-purple">
							<v-select label="subjectname" multiple :filterable="false" :options="userOptions" @search="getUserOptions" v-model="group.users">
								<span slot="no-options"></span>
								<template slot="option" slot-scope="option">
									<strong>{{ option.firstname }} {{ option.lastname }}</strong>
									<div>{{ option.subjectname }}</div>
									<small>{{ option.email }}</small>
								</template>
								<template slot="selected-option" slot-scope="option">
									<strong>{{ option.firstname }} {{ option.lastname }}</strong>
									<div>{{ option.subjectname }}</div>
									<small>{{ option.email }}</small>
								</template>
							</v-select>
						</div>
					</div>
				</div>
			</aside>
			<div class="btn-float-br btn-float-under">
				<button class="btn btn-xl btn-green btn-circle" v-on:click="$emit('set-state', 'add', 'init')" title="ADD NEW GROUP "><i class="fas fa-plus"></i></button>
			</div>
		</div>
	</user-groups>
	</main>
</div>
<script id="reqVue" data-module="user-groups" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>