<!DOCTYPE html>
<html class="vs-user-groups" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="webroot/frags/layout/head.htm :: header">
<script src="/dist/js/lib/jquery.min.js"></script>
<script src="/dist/js/lib/thymus.min.js" id="thymus"
	data-thx-base-path="." data-thx-frag-extension=".htm"
	data-thx-head-frag="th:include=webroot/frags/layout/head.htm :: header"
	data-thx-preload-js="/dist/js/loader.js"
	data-thx-onfrags="fragsListener();" data-thx-onfrag="fragListener()"></script>
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<user-groups inline-template v-on:set-state="setState" v-on:set-page="setPage" v-bind:root-state="rootState" v-if="!$root.isLoading">
		<div class="columns">
			<section class="column column-main column-main-fixed">
				<div class="column-main-fixed-overlay" v-if="rootState == 'add' || rootState == 'edit'" v-on:click="$emit('set-state', 'init'); cancelGroup()"></div>
				<div class="nicescroll--bar">
					<div class="fow no-gutters">
						<div class="fol fol-6 form-group mb-0 bg-white">
							<v-select label="firstname" :filterable="true" :options="groupOptions" @search="getGroupOptions" :on-change="filterGroup" placeholder="Search Groups">
								<span slot="no-options"></span>
							</v-select>
						</div>
						<div class="fol form-group mb-0 bg-white">
							<v-select label="displayname" :filterable="true" :options="$root.userOptions" @search="$root.getUserOptions" :on-change="filterUser" placeholder="Search Users">
								<span slot="no-options"></span>
								<template slot="option" slot-scope="option">
									<strong>{{ option.firstname }} {{ option.lastname }}</strong>
									<div>{{ option.displayname }}</div>
									<small>{{ option.email }}</small>
								</template>
								<template slot="selected-option" slot-scope="option">
									<strong>{{ option.firstname }} {{ option.lastname }}</strong> <em>{{ option.displayname }}</em> <small>{{ option.email }}</small>
								</template>
							</v-select>
						</div>
						<!-- <div class="fol form-group mb-0 bg-white">
							<v-select label="permission" :filterable="true" :options="permissionOptions" :on-change="filterPermission" placeholder="Search Permissions">
								<span slot="no-options"></span>
							</v-select>
						</div> -->
					</div>
					<table class="table table-hover table-bordered table-edge">
						<tr>
							<th class="td-bool" v-bind:class="sort.order" v-on:click="sortList(sort, 'isactivated', Boolean)">Status</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'displayname', String)">Group Name</th>
							<th class="td-number" v-bind:class="sort.order" v-on:click="sortList(sort, 'userCount', Number)">Users</th>
							<th class="td-datetime-x" v-bind:class="sort.order" v-on:click="sortList(sort, 'created', Date)">Created / Updated / Deleted</th>
							<th class="td-datetime" v-bind:class="sort.order" v-on:click="sortList(sort, 'effectivestartdate', Date)">Effective From</th>
							<th class="td-datetime" v-bind:class="sort.order" v-on:click="sortList(sort, 'effectiveenddate', Date)">Effective To</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'organization.name', String)">Organization</th>
							<th class="td-action-1"></th>
							<th class="td-action-1"></th>
							<th class="td-action-1"></th>
						</tr>
						<!-- <tr v-for="(group, index) in sortByNested(sort, groupList)" v-bind:key="group.uuid" v-bind:class="{'active': isSelected(index), 'tr-deleted': group.isdeleted}" v-if="group.userfilter && group.permissionfilter"> -->
						<tr v-for="(group, index) in sortByNested(sort, groupList)" v-bind:key="group.uuid" v-bind:class="{'active': isSelected(index), 'tr-deleted': group.isdeleted}" v-if="group.userfilter">
							<td class="txt-c">
								<i class="fas fa-times-circle" title="Not Activated" v-if="!group.isactivated"></i>
								<i class="fas fa-times-circle txt-green" title="Activated" v-if="group.isactivated"></i>
							</td>
							<td>
								<div class="d-block">{{group.displayname}}</div>
								<small class="d-block">{{group.description}}</small>
								<code class="d-block small txt-purple"><small>{{group.uuid}}</small></code>
							</td>
							<td class="txt-c">{{group.userCount}}</td>
							<td>
								<div>
									<strong class="small">CREATED:</strong>
									<small>{{group.created | formatDateTime}}</small>
								</div>
								<div>
									<strong class="small">UPDATED:</strong>
									<small>{{group.updated | formatDateTime}}</small>
								</div>
								<div v-if="group.isdeleted">
									<strong class="small">DELETED:</strong>
									<small>{{group.deleted | formatDateTime}}</small>
								</div>
							</td>
							<td>{{group.effectivestartdate | formatDateTime}}</td>
							<td>{{group.effectiveenddate | formatDateTime}}</td>
							<td>
								<div class="">
									<strong class="small">ORGANIZATION:</strong>
									<small class="ml--auto">{{group.organization.name}}</small>
								</div>
								<div class="">
									<strong class="small">DIRECTORY:</strong>
									<small class="ml--auto">{{getDirName(group.subjectdirectoryid)}}</small>
								</div>
								<!-- <div class="">
									<strong class="small">PERMISSIONS:</strong>
									<small class="ml--auto">{{getPermissionName(group.uuid)}}</small>
								</div> -->
							</td>
							<td class="td-action-1">
								<a class="btn btn-xl txt-link btn-square" title="CHANGE LOGS" v-on:click="changeLogs(group.uuid, '/subject*/_search');"><i class="fa fa-search"></i></a>
							</td>
							<td class="td-action-1">
								<a v-if="!group.isdeleted" class="btn btn-xl txt-link btn-square" title="EDIT GROUP" v-on:click="$emit('set-state', 'edit'); selectGroup(group, index);"><i class="fas fa-edit"></i></a>
							</td>
							<td class="td-action-1">
								<a v-if="!group.isdeleted" class="btn btn-xl txt-link txt-grey btn-square" title="DELETE GROUP" v-on:click="deleteGroup(group, index)"><i class="fas fa-trash-alt"></i></a>
							</td>
						</tr>
					</table>
					<div th:replace="webroot/frags/layout/pagination.htm :: pagination"></div>
				</div>
			</section>
			<aside class="column column-aside add-column">
				<div class="clearfix brd-b column-header column-min-button">
					<h5 class="column-header-title" >
					<span v-if="rootState == 'add'">Add New Group</span>
					<span v-if="rootState == 'edit'">Edit Group</span>
					</h5>
				</div>
				<div class="column-content">
					<div class="nicescroll-bar">
						<div class="p-3">
							<div class="form-group" v-bind:class="{ 'has-error': errors.has('firstname') }">
								<label for="firstname">Group Name:</label>
								<input type="text" name="firstname" id="firstname" v-model="group.firstname" v-validate="'required|min:2|alpha_spaces'" class="form-control">
								<em v-bind:class="{ 'show': errors.has('firstname') }">{{ errors.first('firstname') }}</em>
							</div>
							<div class="form-group" v-bind:class="{ 'has-error': errors.has('description') }">
								<label for="description">Decription:</label>
								<textarea type="text" name="description" id="description" v-model="group.description" v-validate="'required'" class="form-control"></textarea>
								<em v-bind:class="{ 'show': errors.has('description') }">{{ errors.first('description') }}</em>
							</div>
							<div class="form-group form-group-date" v-bind:class="{ 'has-error': errors.has('effectivestartdate') }">
								<label class="">Effective From</label>
								<div class="input-group w-100">
									<date-picker name="effectivestartdate" v-model="group.effectivestartdate" :config="dateConfig" v-validate="'required'"></date-picker>
									<span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
								</div>
								<em v-bind:class="{ 'show': errors.has('effectivestartdate') }">{{ errors.first('effectivestartdate') }}</em>
							</div>
							<div class="form-group" v-bind:class="{ 'has-error': errors.has('effectiveenddate') }">
								<label class="">Effective To</label>
								<div class="input-group w-100">
									<date-picker name="effectiveenddate" v-model="group.effectiveenddate" :config="dateConfig" v-validate="'required'"></date-picker>
									<span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
								</div>
								<em v-bind:class="{ 'show': errors.has('effectiveenddate') }">{{ errors.first('effectiveenddate') }}</em>
							</div>
							<div class="form-group form-inline">
								<label class="d-block">Activate Group</label>
								<span class="switch switch-primary ml-auto">
									<input type="checkbox" name="isactivated" id="isactivated" v-model="group.isactivated" checked>
									<label for="isactivated"></label>
								</span>
							</div>
							<div class="form-group d-flex justify-content-between">
								<button type="button" class="btn btn-secondary btn-rounded" v-on:click="$emit('set-state', 'init'); cancelGroup()">CANCEL</button>
								<button type="button" class="btn btn-primary btn-rounded" v-if="rootState == 'add'" v-on:click="groupAction('add')">ADD GROUP</button>
								<button type="button" class="btn btn-primary btn-rounded" v-if="rootState == 'edit'" v-on:click="groupAction('edit')">SAVE</button>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<aside class="column column-aside permissions-column">
				<div class="clearfix brd-b column-header column-min-button">
					<h5 class="column-header-title">Group Management</h5>
				</div>
				<div class="column-content">
					<div class="nicescroll-bar">
						<div class="p-3">
							<div class="form-group " v-bind:class="{ 'has-error': errors.has('orgid') }">
								<label>Organization Id</label>
								<select class="form-control" name="orgid" id="orgid" v-model="group.organizationid" v-validate="'required'">
									<option v-for="(org,index) in orgOptions" :value="org.uuid" :class="{'op-deleted': org.isdeleted}" :disabled="org.isdeleted">{{org.name}}</option>
								</select>
								<em v-bind:class="{ 'show': errors.has('orgid') }">{{ errors.first('orgid') }}</em>
							</div>
							<div class="form-group " v-bind:class="{ 'has-error': errors.has('dirid') }">
								<label>Directory</label>
								<select class="form-control" name="dirid" id="dirid" v-model="group.subjectdirectoryid" v-validate="'required'">
									<option v-for="(dir,index) in directoryOptions" :value="dir.uuid" :class="{'op-deleted': dir.isdeleted}" :disabled="dir.isdeleted">{{dir.directoryname}}</option>
								</select>
								<em v-bind:class="{ 'show': errors.has('dirid') }">{{ errors.first('dirid') }}</em>
							</div>
							<!-- <div class="form-group v-select-color-green">
								<label>Permissions</label>
								<v-select label="permission" multiple :filterable="false" :options="permissionOptions" v-model="group.permissions" :on-change="setGroupPermissions">
									<span slot="no-options"></span>
								</v-select>
							</div> -->
						</div>
					</div>
				</div>
			</aside>
			<aside class="column column-aside users-column">
				<div class="clearfix brd-b column-header column-min-button">
					<h5 class="column-header-title">Add Users to this group</h5>
				</div>
				<div class="column-content">
					<div class="nicescroll-bar">
						<div class="p-3">
							<div class="form-group v-select-color-purple">
								<v-select label="displayname" multiple :filterable="false" :options="$root.userOptions" @search="$root.getUserOptions" v-model="group.users" :on-change="setGroupUsers">
									<span slot="no-options"></span>
									<template slot="option" slot-scope="option">
										<div :class="{'txt-muted': option.isdeleted}">
											<strong>{{ option.firstname }} {{ option.lastname }}</strong>
											<div>{{ option.displayname }}</div>
											<small>{{ option.email }}</small>
											<code class="d-block small"><small>{{option.uuid}}</small></code>
										</div>
									</template>
									<template slot="selected-option" slot-scope="option">
										<div :class="{'txt-muted': option.isdeleted}">
											<strong>{{ option.firstname }} {{ option.lastname }}</strong>
											<div>{{ option.displayname }}</div>
											<small>{{ option.email }}</small>
											<code class="d-block small"><small>{{option.uuid}}</small></code>
										</div>
									</template>
								</v-select>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<div class="btn-float-br btn-float-under">
				<button class="btn btn-xl btn-green btn-circle" v-on:click="$emit('set-state', 'add', 'init')" title="ADD NEW GROUP "><i class="fas fa-plus"></i></button>
			</div>
		</div>
	</user-groups>
	</main>
</div>
<script id="reqVue" data-module="user-groups" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>