<!DOCTYPE html>
<html class="vs-users" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="webroot/frags/layout/head.htm :: header">
</head>
<body>
<div id="portal" class="wrapper" v-bind:class="pageClass">
	<div th:replace="webroot/frags/layout/navs.htm :: navs"></div>
	<main class="page-wrapper">
	<users inline-template v-on:set-state="setState" v-on:set-page="setPage" v-bind:root-state="rootState">
		<div class="columns">
			<section class="column column-main column-main-fixed">
				<div class="column-main-fixed-overlay" v-if="rootState == 'add' || rootState == 'edit'" v-on:click="$emit('set-state', 'init'); cancelUser()"></div>
				<div class="nicescroll--bar">
					<div class="fow no-gutters">
						<div class="fol fol-6 form-group mb-0 bg-white">
							<v-select label="subject_name" :filterable="false" :options="userOptions" @search="getUserOptions" :on-change="filterUser" placeholder="Search Users">
								<span slot="no-options"></span>
								<template slot="option" slot-scope="option">
									<strong>{{ option.first_name }} {{ option.last_name }}</strong>
									<div>{{ option.subject_name }}</div>
									<small>{{ option.email }}</small>
								</template>
								<template slot="selected-option" slot-scope="option">
									<strong>{{ option.first_name }} {{ option.last_name }}</strong> <em>{{ option.subject_name }}</em> <small>{{ option.email }}</small>
								</template>
							</v-select>
						</div>
						<div class="fol form-group mb-0 bg-white">
							<v-select label="group_name" :filterable="false" :options="groupOptions" @search="getGroupOptions" :on-change="filterGroup" placeholder="Search Groups">
								<span slot="no-options"></span>
							</v-select>
						</div>
						<div class="fol form-group mb-0 bg-white">
							<v-select label="permission" :filterable="false" :options="permissionOptions" @search="getPermissionOptions" :on-change="filterPermission" placeholder="Search Permissions">
								<span slot="no-options"></span>
							</v-select>
						</div>
					</div>
					<table class="table table-hover table-bordered table-edge">
						<tr>
							<th class="td-bool" v-bind:class="sort.order" v-on:click="sortList(sort, 'is_activated', Boolean)">Status</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'first_name', String)">First Name</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'last_name', String)">Last Name</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'subject_name', String)">Username / Email</th>
							<th class="td-name" v-bind:class="sort.order" v-on:click="sortList(sort, 'display_name', String)">Display Name</th>
							<th class="td-datetime-x" v-bind:class="sort.order" v-on:click="sortList(sort, 'created', Date)">Created / Updated / Deleted</th>
							<th class="td-datetime" v-bind:class="sort.order" v-on:click="sortList(sort, 'loginCount', Number)">Logins</th>
							<th class="td-datetime" v-bind:class="sort.order" v-on:click="sortList(sort, 'failedLoginCount', Number)">Failed Logins</th>
							<th class="td-long"></th>
							<th class="td-action-1"></th>
							<th class="td-action-1"></th>
						</tr>
						<tr v-for="(user, index) in sortBy(sort, userList)" v-bind:key="user.uuid" v-bind:class="{'active': isSelected(index)}">
							<td class="text-center">
								<i class="fas fa-circle" title="Not Activated" v-if="!user.is_activated"></i>
								<i class="fas fa-check-circle txt-green" title="Activated" v-if="user.is_activated"></i>
								<i class="fas fa-times-circle txt-red" title="Deleted" v-if="user.is_deleted"></i>
							</td>
							<td>{{ user.first_name }}</td>
							<td>{{ user.last_name }}</td>
							<td>
								<div class="d-block">{{user.subject_name}}</div>
								<small class="d-block">{{user.email}}</small>
							</td>
							<td>
								{{user.display_name}}
							</td>
							<td>
								<div>
									<strong class="small">CREATED:</strong>
									<small>{{user.created | formatDateTime}}</small>
								</div>
								<div>
									<strong class="small">UPDATED:</strong>
									<small>{{user.updated | formatDateTime}}</small>
								</div>
								<div v-if="user.is_deleted">
									<strong class="small">DELETED:</strong>
									<small>{{user.deleted | formatDateTime}}</small>
								</div>
							</td>
							<td>
								<div class="d-flex align-items-center">
									<div class="d-block small">
										<strong class="d-block">LAST LOGIN</strong>
										<span class="d-block">{{user.lastLogin | formatDateTime}}</span>
									</div>
									<strong class="ml-auto">{{user.loginCount}}</strong>
								</div>
							</td>
							<td>
								<div class="d-flex align-items-center">
									<div class="d-block small">
										<strong class="d-block">LAST FAILED</strong>
										<span class="d-block">{{user.lastFailedLogin | formatDateTime}}</span>
									</div>
									<strong class="ml-auto">{{user.failedLoginCount}}</strong>
								</div>
							</td>
							<td>
								<div class="">
									<strong class="small">GROUP:</strong>
									<small v-for="(u, index) in user.groups">
										{{u.group_name}}<span v-if="index != (user.groups.length - 1)">, </span>
									</small>
								</div>
								<div class="">
									<strong class="small">PERMISSIONS:</strong>
									<small v-for="(u, index) in user.permissions">
										{{u.name}}<span v-if="index != (user.permissions.length - 1)">, </span>
									</small>
								</div>
								<div class="">
									<strong class="small">DIRECTORY:</strong>
									<small class="ml--auto">{{user.directory}}</small>
								</div>
							</td>
							<td class="td-action-1">
								<a href="#" class="btn btn-xl txt-link btn-square" title="EDIT USER" v-on:click="$emit('set-state', 'edit'); selectUser(user, index);"><i class="fas fa-edit"></i></a>
							</td>
							<td class="td-action-1">
								<a href="#" class="btn btn-xl txt-link txt-grey btn-square" title="DELETE USER" v-on:click="deleteUser(user, index)"><i class="fas fa-trash-alt"></i></a>
							</td>
						</tr>
					</table>
					<div th:replace="webroot/frags/layout/pagination.htm :: pagination"></div>
				</div>
			</section>
			<aside class="column column-aside add-column">
				<div class="nicescroll-bar">
					<div class="clearfix border-bottom column-header column-min-button">
						<h5 class="column-header-title" v-if="rootState == 'init' || rootState == 'add'">Add New User</h5>
						<h5 class="column-header-title" v-if="rootState == 'edit'">Edit User</h5>
					</div>
					<div class="p-3">
						<div class="form-group" v-bind:class="{ 'has-error': errors.has('first_name') }">
							<label for="first_name">First Name:</label>
							<input type="text" name="first_name" id="first_name" v-model="user.first_name" v-validate="'required|min:2|alpha_spaces'" class="form-control" placeholder="First Name">
							<em v-bind:class="{ 'show': errors.has('first_name') }">{{ errors.first('first_name') }}</em>
						</div>
						<div class="form-group" v-bind:class="{ 'has-error': errors.has('last_name') }">
							<label for="last_name">Last Name:</label>
							<input type="text" name="last_name" id="last_name" v-model="user.last_name" v-validate="'required|min:2|alpha'" class="form-control" placeholder="Last Name">
							<em v-bind:class="{ 'show': errors.has('last_name') }">{{ errors.first('last_name') }}</em>
						</div>
						<div class="form-group" v-bind:class="{ 'has-error': errors.has('subject_name') }">
							<label for="subject_name">UserName:</label>
							<input type="text" name="subject_name" id="subject_name" v-model="user.subject_name" v-validate="{required: true, regex: /^[0-9A-Z_@.-]*$/i, min: 3}" class="form-control" placeholder="subject_name">
							<em v-bind:class="{ 'show': errors.has('subject_name') }">{{ errors.first('subject_name') }}</em>
						</div>
						<div class="form-group" v-bind:class="{ 'has-error': errors.has('display_name') }">
							<label for="display_name">Display Name:</label>
							<input type="text" name="display_name" id="display_name" v-model="user.display_name" v-validate="{required: true, alpha_spaces: true, min: 3, max: 30}" class="form-control" placeholder="display_name">
							<em v-bind:class="{ 'show': errors.has('display_name') }">{{ errors.first('display_name') }}</em>
						</div>
						<div class="form-group" v-bind:class="{ 'has-error': errors.has('email') }">
							<label for="email">Email:</label>
							<input type="text" name="email" id="email" v-model="user.email" v-validate="'required|email'" class="form-control" placeholder="email">
							<em v-bind:class="{ 'show': errors.has('email') }">{{ errors.first('email') }}</em>
						</div>
						<p v-if="rootState == 'edit'"><a href="#" class="txt-link" v-on:click="resetPassword = !resetPassword">Reset Password</a></p>
						<div v-show="rootState == 'add' || resetPassword">
							<div class="form-group js-showpass" v-bind:class="{ 'has-error': errors.has('password') }">
								<label class="clearfix d-block" for="password">Password: <a href="#" class="float-right txt-link">Regenerate Password</a></label>
								<div class="input-group">
									<input type="password" name="password" id="password" v-model="user.password" v-validate="rootState == 'add' ? 'required|min:8|password_strength' : ''" class="form-control" placeholder="password">
									<a href="#" class="txt-link js-eye input-group-addon"><i class="fas fa-eye"></i></a>
								</div>
								<em v-bind:class="{ 'show': errors.has('password') }">{{ errors.first('password') }}</em>
							</div>
							<div class="form-group ">
								<span class="checkbox checkbox-primary">
									<input type="checkbox" name="notify" id="notify" v-model="user.notify">
									<label for="notify">Send Notificaiton</label>
								</span>
							</div>
						</div>
						<p v-if="rootState == 'add'">This user will be able to change her password after first login</p>
						<div class="form-group d-flex justify-content-between">
							<button type="button" class="btn btn-secondary btn-rounded" v-on:click="$emit('set-state', 'init'); cancelUser()">CANCEL</button>
							<button type="button" class="btn btn-primary btn-rounded" v-if="rootState == 'add'" v-on:click="userAction('add')">ADD USER</button>
							<button type="button" class="btn btn-primary btn-rounded" v-if="rootState == 'edit'" v-on:click="userAction('edit')">SAVE</button>
						</div>
					</div>
				</div>
			</aside>
			<aside class="column column-aside permissions-column">
				<div class="nicescroll-bar">
					<div class="clearfix border-bottom column-header column-min-button">
						<h5 class="column-header-title">Groups & Permissions</h5>
					</div>
					<div class="p-3">
						<div class="form-group v-select-color-pink">
							<h6>Directory</h6>
							<select name="directory" id="directory" v-model="user.directory" class="form-control">
								<option value="Internal Directory">Internal Directory</option>
							</select>
						</div>
						<div class="form-group v-select-color-pink">
							<h6>Add User to Group:</h6>
							<v-select label="group_name" multiple :filterable="false" :options="groupOptions" @search="getGroupOptions" v-model="user.groups">
								<span slot="no-options"></span>
							</v-select>
						</div>
						<div class="form-group v-select-color-green">
							<h6>Assign Permission to User:</h6>
							<v-select label="permission" multiple :filterable="false" :options="permissionOptions" @search="getPermissionOptions" v-model="user.permissions">
								<span slot="no-options"></span>
							</v-select>
						</div>
					</div>
				</div>
			</aside>
			<div class="btn-float-br btn-float-under">
				<button class="btn btn-xl btn-green btn-circle" v-on:click="$emit('set-state', 'add', 'init')" title="ADD NEW USER "><i class="fas fa-plus"></i></button>
			</div>
		</div>
	</users>
	</main>
</div>
<script id="reqVue" data-module="users" data-main="/dist/js/main" src="/dist/js/lib/require.min.js"></script>
</body>
</html>