<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="modal" id="taxModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" v-if="taxAction == 'add'">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title">Add New {{taxTitle}}</h5>
				</div>
				<div class="modal-body">
					<div class="form-group" v-bind:class="{ 'has-error': errors.has('name') }">
						<label v-bind:for="taxTitle+'Name'">{{taxTitle}} Name:</label>
						<input type="text" class="form-control" name="name" v-bind:id="taxTitle+'Name'" v-model="tax.name" v-validate="{required: true, alpha_spaces: true, min: 2, max: 30}">
						<em v-bind:class="{ 'show': errors.has('name') }">{{ errors.first('name') }}</em>
					</div>
					<div class="form-group">
						<label v-bind:for="taxTitle+'Name'">{{taxTitle}} Description:</label>
						<input type="text" class="form-control" v-model="tax.description">
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-secondary btn-rounded text-uppercase" data-dismiss="modal" v-on:click="cancelTax(tax)">Close</button>
					<button type="button" class="btn btn-primary btn-rounded text-uppercase" v-on:click="addTax()">Add {{taxTitle}}</button>
				</div>
			</div>
			<div class="modal-content" v-if="taxAction == 'edit'">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title">Edit {{taxTitle}}</h5>
				</div>
				<div class="modal-body">
					<div class="form-group" v-bind:class="{ 'has-error': errors.has('name') }">
						<label v-bind:for="taxTitle+'Name'">{{taxTitle}} Name:</label>
						<input type="text" class="form-control" name="name" v-bind:id="taxTitle+'Name'" v-model="tax.name" v-validate="{required: true, alpha_spaces: true, min: 2, max: 30}">
						<em v-bind:class="{ 'show': errors.has('name') }">{{ errors.first('name') }}</em>
					</div>
					<div class="form-group">
						<label v-bind:for="taxTitle+'Name'">{{taxTitle}} Description:</label>
						<input type="text" class="form-control" v-model="tax.description">
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-secondary btn-rounded text-uppercase" data-dismiss="modal" v-on:click="restoreTax(tax)">Close</button>
					<button type="button" class="btn btn-primary btn-rounded text-uppercase" v-on:click="editTax(tax)">Save {{taxTitle}}</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>