<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="schema" id="schemaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="schemaModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="schemaEditorClose()" aria-hidden="true">×</button>
					<h5 class="modal-title" id="schemaModalTitle">Schema Editor</h5>
				</div>
				<div class="modal-body p-0">
					<div id="schemaContainer"></div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-secondary btn-rounded" onclick="schemaEditorClose()">Close</button>
					<button type="button" class="btn btn-primary btn-rounded" onclick="schemaEditorSave()">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="markdown" id="mdPreview" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mdPreview" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title">Markdown Preview</h5>
				</div>
				<div class="modal-body p-3">
					<span id="mdPreviewText"></span>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="alert" id="alert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alert" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body p-6">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<span id="alertText"></span>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="confirm" id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title" id="confirmTitle">Alert</h5>
				</div>
				<div class="modal-body p-6">
					<span id="confirmSubtitle"></span>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<a data-dismiss="modal"><span class="btn btn-secondary btn-rounded">Cancel</span></a>
					<a data-dismiss="modal" id="confirmOk"><span class="btn btn-primary btn-rounded">Confirm</span></a>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="taxonomy" id="taxModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taxModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" v-if="taxAction == 'add'">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title">Add New {{taxTitle}}</h5>
				</div>
				<div class="modal-body">
					<div class="form-group" v-bind:class="{ 'has-error': errors.has('name') }">
						<label v-bind:for="taxTitle+'Name'">{{taxTitle}} Name:</label>
						<input type="text" class="form-control" name="name" v-bind:id="taxTitle+'Name'" v-model="tax.name" v-validate="{required: true, alpha_spaces: true, min: 2, max: 30}">
						<em v-bind:class="{ 'show': errors.has('name') }">{{ errors.first('name') }}</em>
					</div>
					<div class="form-group">
						<label v-bind:for="taxTitle+'Description'">{{taxTitle}} Description:</label>
						<input type="text" class="form-control" v-bind:id="taxTitle+'Description'" v-model="tax.description">
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-secondary btn-rounded txt-uppercase" data-dismiss="modal" v-on:click="cancelTax(tax)">Close</button>
					<button type="button" class="btn btn-primary btn-rounded txt-uppercase" v-on:click="addTax()">Add {{taxTitle}}</button>
				</div>
			</div>
			<div class="modal-content" v-if="taxAction == 'edit'">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title">Edit {{taxTitle}}</h5>
				</div>
				<div class="modal-body">
					<div class="form-group" v-bind:class="{ 'has-error': errors.has('name') }">
						<label v-bind:for="taxTitle+'Name'">{{taxTitle}} Name:</label>
						<input type="text" class="form-control" name="name" v-bind:id="taxTitle+'Name'" v-model="tax.name" v-validate="{required: true, alpha_spaces: true, min: 2, max: 30}">
						<em v-bind:class="{ 'show': errors.has('name') }">{{ errors.first('name') }}</em>
					</div>
					<div class="form-group">
						<label v-bind:for="taxTitle+'Description'">{{taxTitle}} Description:</label>
						<input type="text" class="form-control"  v-bind:id="taxTitle+'Description'" v-model="tax.description">
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-secondary btn-rounded txt-uppercase" data-dismiss="modal" v-on:click="restoreTax(tax)">Close</button>
					<button type="button" class="btn btn-primary btn-rounded txt-uppercase" v-on:click="editTax(tax)">Save {{taxTitle}}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="field--controls field-controls-hover" th:fragment="organizations">
		<a class="field-link nav--caret" data-toggle="collapse" v-bind:data-target="'#org'+col+index" v-bind:aria-controls="'org'+col+index">
			<strong class="m-0 txt-blue txt-uppercase d-block txt-r" v-if="title == 'add'">Add Organization <i class="fas fa-fw fa-plus"></i></strong>
			<strong class="m-0" v-if="title == 'edit'">{{org.name}}</strong>
		</a>
		<div class="ficon-actions dropdown dropdown-hover" v-if="title == 'edit'">
			<button type="button" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle"> <i class="fas fa-ellipsis-h"></i>
			</button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li>
					<a title="Remove Organization" v-on:click="deleteOrganization(org)"> <i class="fa fa-fw fa-trash-alt"></i> Remove Organization </a>
				</li>
			</ul>
		</div>
		<div v-bind:id="'org'+col+index" class="collapse clearfix field-tabs">
			<div class="px-3 pt-3 brd-t">
				<div class="form-group" v-bind:class="{ 'has-error': errors.has('name') }">
					<label for="name">Organization Name:</label>
					<input type="text" name="name" v-model="org.name" v-validate="'required|min:2'" class="form-control">
					<em v-bind:class="{ 'show': errors.has('name') }">{{ errors.first('name') }}</em>
				</div>
				<!-- <div class="form-group" v-if="$root.abyssOrgId != org.uuid" v-bind:class="{ 'has-error': errors.has('organization') }"> -->
				<!-- <div class="form-group" v-if="(title == 'edit' && deforg.uuid != org.uuid && org.organizationUser.organizationid != org.organizationUser.organizationrefid) || title == 'add'" v-bind:class="{ 'has-error': errors.has('organization') }"> -->
				<div class="form-group" v-if="(title == 'edit' && deforg.uuid != org.uuid) || title == 'add'" v-bind:class="{ 'has-error': errors.has('organization') }">
					<label>Parent Organization</label>
					<select class="form-control" name="organization" v-model="org.organizationid" v-validate="'required'">
						<option :value="deforg.uuid">{{deforg.name}}</option>
						<option v-for="(o,index) in orgs" :value="o.uuid" v-if="o.uuid != org.uuid">{{o.name}}</option>
					</select>
					<em v-bind:class="{ 'show': errors.has('organization') }">{{ errors.first('organization') }}</em>
				</div>
				<div class="form-group" v-bind:class="{ 'has-error': errors.has('url') }">
					<label for="url">Url:</label>
					<input type="text" name="url" v-model="org.url" class="form-control" v-validate="'url'">
					<em v-bind:class="{ 'show': errors.has('url') }">{{ errors.first('url') }}</em>
				</div>
				<div class="form-group" v-bind:class="{ 'has-error': errors.has('description') }">
					<label for="description">Description:</label>
					<textarea type="text" name="description" v-model="org.description" v-validate="'required'" class="form-control"></textarea>
					<em v-bind:class="{ 'show': errors.has('description') }">{{ errors.first('description') }}</em>
				</div>
				<div class="form-group d-flex justify-content-between">
					<button type="button" class="btn btn-secondary btn-rounded organizations_panel_btn" v-on:click="$root.cancelRightSidebar()">CANCEL</button>
					<button type="button" class="btn btn-primary btn-rounded" v-if="title == 'add'" v-on:click="organizationAction('add', org)">ADD</button>
					<button type="button" class="btn btn-primary btn-rounded" v-if="title == 'edit'" v-on:click="organizationAction('edit', org)">SAVE</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>