<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="schema" id="schemaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="schemaModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="schemaEditorClose()" aria-hidden="true">×</button>
					<h5 class="modal-title" id="schemaModalTitle">Schema Editor</h5>
				</div>
				<div class="modal-body p-0">
					<div id="schemaContainer"></div>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-secondary btn-rounded" onclick="schemaEditorClose()">Close</button>
					<button type="button" class="btn btn-primary btn-rounded" onclick="schemaEditorSave()">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="markdown" id="mdPreview" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mdPreview" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title">Markdown Preview</h5>
				</div>
				<div class="modal-body p-3">
					<span id="mdPreviewText"></span>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="alert" id="alert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alert" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body p-6">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<span id="alertText"></span>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="confirm" id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title" id="confirmTitle">Alert</h5>
				</div>
				<div class="modal-body p-6">
					<span id="confirmSubtitle"></span>
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<a data-dismiss="modal"><span class="btn btn-secondary btn-rounded">Cancel</span></a>
					<a data-dismiss="modal" id="confirmOk"><span class="btn btn-primary btn-rounded">Confirm</span></a>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="searchAll">
		<transition name="fade">
		<div class="preview-test-overlay" v-on:click="cancelSearch()" v-if="$root.searchResults"></div>
		</transition>
		<transition name="slide">
		<div class="preview-test" v-if="$root.searchResults">
			<div class="d-flex align-items-center column-header column-min-button">
				<div class="px-3 py-2 m-0">
					<span class="h5 pr-2">{{$root.searchAll}}</span>
					<small>Total Hits</small>
					<div class="badge badge-green mr-2">{{$root.searchResults.hits.total}}</div>
					<small>Took</small>
					<div class="badge badge-green">{{$root.searchResults.took}}</div>
					<small>ms</small>
				</div>
				<select class="form-control form-control-sm w-auto mr-2" v-model="searchSize" v-on:change="changeSearchSize($event.target.value)">
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<small>items per page</small>
				<div class="column--header-button ml-auto">
					<button type="button" class="close" v-on:click="cancelSearch()">×</button>
				</div>
			</div>
			<div class="search-results">
				<div class="nicescroll--bar wk-scroll">
					<div class="px-3">
						<div class="nav-horz bg-white">
							<a href="#" class="nav-horz-arrows nav-horz-left" v-if="searchPaginate.first"><i class="fa fa-angle-left"></i></a>
							<a href="#" class="nav-horz-arrows nav-horz-left" v-else v-on:click="onSearchAll(searchPaginate.currentPage - 1);"><i class="fa fa-angle-left"></i></a>
							<nav class="bg-white">
							<ul class="pagination m-0 justify-content-start">
								<!-- <li v-if="!searchPaginate.first"> <a href="#" v-on:click="onSearchAll(searchPaginate.currentPage - 1);"><i class="fa fa-angle-left"></i></a> </li> -->
								<li v-bind:class="{'active': page == searchPaginate.currentPage}" v-for="page in searchPaginate.pages"><a href="#" v-on:click="onSearchAll(page);">{{page + 1}}</a></li>
								<!-- <li v-if="!searchPaginate.last"> <a href="#" v-on:click="onSearchAll(searchPaginate.currentPage + 1);"><i class="fa fa-angle-right"></i></a> </li> -->
							</ul>
							</nav>
							<a href="#" class="nav-horz-arrows nav-horz-right" v-if="searchPaginate.last"><i class="fa fa-angle-right"></i></a>
							<a href="#" class="nav-horz-arrows nav-horz-right" v-else v-on:click="onSearchAll(searchPaginate.currentPage + 1);"><i class="fa fa-angle-right"></i></a>
						</div>
						<div class="row" v-for="(h, index) in sortByNested(sortSearch, $root.searchResults.hits.hits) ">
							<a class="field-link pb-2 nav-caret" data-toggle="collapse" :data-target="'#search'+h._id" :aria-controls="'search'+h._id" aria-expanded="false">
								<div class="d-flex align-items-center">
									<div>
										<strong :class="'badge badge-method badge-' + h._source['@httpmethod']">{{h._source['@httpmethod']}}</strong> 
										<strong v-if="h._type == 'logback'" class="badge badge-primary" title="SEVERITY">{{h._source.severity}}</strong> 
										<strong class="txt-black">{{h._type}}</strong> 
										<small>{{h._source['@httppath']}}</small>
									</div>
									<div class="ml-auto">
										<strong class="txt-black">{{h._source['@timestamp'] | formatDateTimeSec}}</strong> 
									</div> 
								</div>
								<div class="fow small">
									<p class="mb-0 mt-2 fol-sm"><strong class="lbl">index</strong>{{h._index}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source['@username']"><strong class="lbl">username</strong>{{h._source['@username']}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source.host"><strong class="lbl">host</strong>{{h._source.host}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source.thread"><strong class="lbl">thread</strong>{{h._source.thread}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source.logger"><strong class="lbl">logger</strong>{{h._source.logger}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._type == 'subject-api'">
										<strong class="lbl" v-if="h._source.subjecttypeid == abyssSubjectTypeIds.app">app</strong>
										<strong class="lbl" v-if="h._source.subjecttypeid == abyssSubjectTypeIds.user">user</strong>
										<strong class="lbl" v-if="h._source.subjecttypeid == abyssSubjectTypeIds.group">group</strong>
										{{h._source.displayname}}
									</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source.name"><strong class="lbl">name</strong>{{h._source.name}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source.resourcename"><strong class="lbl">resourcename</strong>{{h._source.resourcename}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source.type"><strong class="lbl">type</strong>{{h._source.type}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source.permission"><strong class="lbl">permission</strong>{{h._source.permission}}</p>
									<p class="mb-0 mt-2 fol-sm" v-if="h._source.actionname"><strong class="lbl">actionname</strong>{{h._source.actionname}}</p>
									<p class="mb-0 mt-2 fol-sm-12" v-if="h._source.description"><strong class="lbl">description</strong>{{h._source.description}}</p>
								</div>
							</a>
							<div :id="'search'+h._id" class="collapse">
								<div class="py-2 px-3">
									<pre>{{h._source}}</pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</transition>
	</div>
</body>
</html>