<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navLeft" class="fixed-sidebar-left">
		<ul class="nav side-nav flex-column nicescroll-bar">
			<li>
				<a href="/abyss/index"><i class="fas fa-fw fa-home"></i><span class="right-nav-text">Dashboard</span></a>
			</li>
			<li>
				<a href="/abyss/my-apis" class="js-collapse-open"><i class="fas fa-fw fa-cube"></i><span class="right-nav-text">My APIs</span></a>
				<button type="button" data-toggle="collapse" data-target="#myApiTax" aria-controls="myApiTax" class="nav-caret" v-if="pageCurrent == 'my-apis'"></button>
				<api-nav name="myApiTax" mygroups="myApiGroupList" mycategories="myApiCategoryList" mytags="myApiTagList" pagecurrent="pageCurrent" v-if="pageCurrent == 'my-apis'" inline-template>
					<div th:replace="webroot/frags/api/api-nav.htm :: navTax"></div>
				</api-nav>
			</li>
			<li>
				<a href="/abyss/my-apps"><i class="fas fa-fw fa-cubes"></i><span class="right-nav-text">My Apps</span></a>
			</li>
			<li>
				<a href="/abyss/my-policies"><i class="fas fa-fw fa-file-powerpoint"></i><span class="right-nav-text">My Policies</span></a>
			</li>
			<li>
				<a href="/abyss/my-licenses"><i class="fas fa-fw fa-certificate"></i><span class="right-nav-text">My Licenses</span></a>
			</li>
			<li>
				<a href="/abyss/explore" class="js-collapse-open"><i class="fas fa-fw fa-globe"></i><span class="right-nav-text">Explore</span></a>
				<button type="button" data-toggle="collapse" data-target="#apiTax" aria-controls="apiTax" class="nav-caret" v-if="pageCurrent == 'explore'"></button>
				<api-nav name="apiTax" mygroups="apiGroupList" mycategories="apiCategoryList" mytags="apiTagList" :pagecurrent="pageCurrent" v-if="pageCurrent == 'explore'" inline-template>
					<div th:replace="webroot/frags/api/api-nav.htm :: navTax"></div>
				</api-nav>
			</li>
			<li class="navigation-header brd-t">
				<span>ADMIN</span><i class="fas fa-fw fa-ellipsis-h"></i>
			</li>
			<li>
				<a class="nav-caret" data-toggle="collapse" data-target="#id_mng"><i class="fas fa-fw fa-address-card"></i><span class="right-nav-text">Identity Management</span></a>
				<ul id="id_mng" class="collapse collapse-level-2">
					<li>
						<a href="/abyss/identity-managers">Administer Identity Managers</a>
					</li>
					<li>
						<a class="nav-caret" data-toggle="collapse" data-target="#adm_id">Administer Identities</a>
						<ul id="adm_id" class="collapse collapse-level-3">
							<li>
								<a href="/abyss/users">Administer Users</a>
							</li>
							<li>
								<a href="/abyss/user-groups">Administer Groups</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a class="nav-caret" data-toggle="collapse" data-target="#ac_mng"><i class="fas fa-fw fa-archway"></i><span class="right-nav-text">Access Management</span></a>
				<ul id="ac_mng" class="collapse collapse-level-2">
					<li>
						<a href="/abyss/access-managers">Administer Access Managers</a>
					</li>
					<li>
						<a href="/abyss/permissions">Administer Permissions</a>
					</li>
				</ul>
			</li>
			<li v-if="pageCurrent == 'my-apis'">
				<a class="nav-caret" data-toggle="collapse" data-target="#platform_dr" aria-controls="platform_dr"><i class="fas fa-fw fa-file"></i><span class="right-nav-text">Platform APIs</span></a>
				<ul id="platform_dr" class="collapse">
					<li v-for="(y, index) in abyssYamlList" v-if="y != 'AbyssSecuritySchemes.yaml' && y != 'ApisOfSubject.yaml'"><a v-on:click="$root.$refs.refMyApis.loadFromUrlSchema(abyssYamlLocation + '/' + y, true)">{{y}}</a>
					</li>
				</ul>
			</li>
			<li v-if="$root.abyssSandbox">
				<a class="nav-caret" data-toggle="collapse" data-target="#pages_dr" aria-controls="pages_dr"><i class="fas fa-fw fa-file"></i><span class="right-nav-text">Special Pages</span></a>
				<ul id="pages_dr" class="collapse">
					<li>
						<a class="nav-caret" data-toggle="collapse" data-target="#auth_dr">Authantication pages</a>
						<ul id="auth_dr" class="collapse collapse-level-2">
							<li>
								<a target="_blank" href="/abyss/login">Login</a>
							</li>
							<li>
								<a target="_blank" href="/abyss/signup">Register</a>
							</li>
							<li>
								<a target="_blank" href="/abyss/forgot-password">Forgot Password</a>
							</li>
							<li>
								<a target="_blank" href="/abyss/reset-password">Reset Password</a>
							</li>
							<li>
								<a target="_blank" href="/abyss/change-password">Change Password</a>
							</li>
						</ul>
					</li>
					<li>
						<a target="_blank" href="/abyss/404">Error 404</a>
					</li>
				</ul>
			</li>
			<li v-if="$root.abyssSandbox">
				<a class="nav-caret" data-toggle="collapse" data-target="#dropdown_dr_lv1"><i class="fas fa-fw fa-info"></i><span class="right-nav-text">Helpers</span></a>
				<ul id="dropdown_dr_lv1" class="collapse">
					<li>
						<a class="nav-caret" data-toggle="collapse" data-target="#dropdown_dr_lv2">Colors</a>
						<ul id="dropdown_dr_lv2" class="collapse collapse-level-2">
							<li><a class="bg-blue txt-white">blue</a></li>
							<li><a class="bg-indigo txt-white">indigo</a></li>
							<li><a class="bg-purple txt-white">purple</a></li>
							<li><a class="bg-pink txt-white">pink</a></li>
							<li><a class="bg-red txt-white">red</a></li>
							<li><a class="bg-orange txt-white">orange</a></li>
							<li><a class="bg-yellow txt-white">yellow</a></li>
							<li><a class="bg-green txt-white">green</a></li>
							<li><a class="bg-teal txt-white">teal</a></li>
							<li><a class="bg-cyan txt-white">cyan</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>