<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navLeft" class="fixed-sidebar-left">
		<ul class="nav side-nav flex-column nicescroll-bar">
			<li>
				<a href="/abyss/index"><i class="fas fa-fw fa-home"></i><span class="right-nav-text">Dashboard</span></a>
			</li>
			<li>
				<a href="/abyss/my-apis" class="js-collapse-open"><i class="fas fa-fw fa-cube"></i><span class="right-nav-text">My Business APIs</span></a>
				<button type="button" data-toggle="collapse" data-target="#myApiTax" aria-controls="myApiTax" class="nav-caret" v-if="pageCurrent == 'my-apis'"></button>
				<api-nav name="myApiTax" visibilityname="myApiVisibilityList" statename="myApiStateList" groupname="myApiGroupList" categoryname="myApiCategoryList" tagname="myApiTagList" pagecurrent="pageCurrent" v-if="pageCurrent == 'my-apis'" inline-template>
					<div th:replace="webroot/frags/api/api-nav.htm :: navTax"></div>
				</api-nav>
			</li>
			<li>
				<a href="#" class="js-collapse-open"><i class="fas fa-fw fa-code-branch"></i><span class="right-nav-text">My Proxies</span></a>
				<button type="button" data-toggle="collapse" data-target="#myProxyTax" aria-controls="myProxyTax" class="nav-caret" v-if="pageCurrent == 'my-apis'"></button>
				<api-nav name="myProxyTax" visibilityname="myApiVisibilityList" statename="myApiStateList" groupname="myApiGroupList" categoryname="myApiCategoryList" tagname="myApiTagList" pagecurrent="pageCurrent" v-if="pageCurrent == 'my-apis'" inline-template>
					<div th:replace="webroot/frags/api/api-nav.htm :: navTax"></div>
				</api-nav>
			</li>
			<li>
				<a href="#"><i class="fas fa-fw fa-cubes"></i><span class="right-nav-text">My Apps</span></a>
			</li>
			<li>
				<a href="/abyss/my-policies"><i class="fas fa-fw fa-file-powerpoint"></i><span class="right-nav-text">My Policies</span></a>
			</li>
			<!-- <li>
				<a href="#"><i class="fas fa-fw fa-tags"></i><span class="right-nav-text">Plans</span></a>
			</li> -->
			<li>
				<a href="#"><i class="fas fa-fw fa-newspaper"></i><span class="right-nav-text">Subscriptions</span></a>
			</li>
			<li>
				<a href="/abyss/explore" class="js-collapse-open"><i class="fas fa-fw fa-globe"></i><span class="right-nav-text">Explore</span></a>
				<button type="button" data-toggle="collapse" data-target="#apiTax" aria-controls="apiTax" class="nav-caret" v-if="pageCurrent == 'explore'"></button>
				<api-nav name="apiTax" visibilityname="apiVisibilityList" statename="apiStateList" groupname="apiGroupList" categoryname="apiCategoryList" tagname="apiTagList" :pagecurrent="pageCurrent" v-if="pageCurrent == 'explore'" inline-template>
					<div th:replace="webroot/frags/api/api-nav.htm :: navTax"></div>
				</api-nav>
			</li>
			<li class="navigation-header brd-t">
				<span>ADMIN</span><i class="fas fa-fw fa-ellipsis-h"></i>
			</li>
			<li>
				<a href="#" class="nav-caret" data-toggle="collapse" data-target="#pageUserMngt" aria-controls="pageUserMngt"><i class="fas fa-fw fa-user"></i><span class="right-nav-text">User Management</span></a>
				<ul id="pageUserMngt" class="collapse">
					<li>
						<a href="/abyss/users">Users</a>
					</li>
					<li>
						<a href="/abyss/user-groups">Groups</a>
					</li>
					<li>
						<a href="/abyss/user-directories">Directories</a>
					</li>
				</ul>
			</li>
			<li v-if="pageCurrent == 'my-apis'">
				<a href="#" class="nav-caret" data-toggle="collapse" data-target="#platform_dr" aria-controls="platform_dr"><i class="fas fa-fw fa-file"></i><span class="right-nav-text">Platform APIs</span></a>
				<ul id="platform_dr" class="collapse">
					<li v-for="(y, index) in abyssYamlList"><a href="#" :class="y.css" v-on:click="$refs.refMyApis.loadFromUrlSchema(y.yurl, true)">{{y.yaml}}</a>
						<a :href="y.aurl" target="_blank" class="nav-caret-sm"></a>
					</li>
				</ul>
			</li>
			<li class="hide">
				<a href="#" class="nav-caret" data-toggle="collapse" data-target="#pages_dr" aria-controls="pages_dr"><i class="fas fa-fw fa-file"></i><span class="right-nav-text">Special Pages</span></a>
				<ul id="pages_dr" class="collapse">
					<li>
						<a href="#" class="nav-caret" data-toggle="collapse" data-target="#auth_dr">Authantication pages</a>
						<ul id="auth_dr" class="collapse collapse-level-2">
							<li>
								<a target="_blank" href="/abyss/login">Login</a>
							</li>
							<li>
								<a target="_blank" href="/abyss/signup">Register</a>
							</li>
							<li>
								<a target="_blank" href="/abyss/forgot-password">Forgot Password</a>
							</li>
							<li>
								<a target="_blank" href="/abyss/reset-password">Reset Password</a>
							</li>
							<li>
								<a target="_blank" href="/abyss/change-password">Change Password</a>
							</li>
						</ul>
					</li>
					<li>
						<a target="_blank" href="/abyss/404">Error 404</a>
					</li>
				</ul>
			</li>
			<li class="hide">
				<a href="#" class="nav-caret" data-toggle="collapse" data-target="#dropdown_dr_lv1"><i class="fas fa-fw fa-info"></i><span class="right-nav-text">Helpers</span></a>
				<ul id="dropdown_dr_lv1" class="collapse">
					<li>
						<a href="#" class="nav-caret" data-toggle="collapse" data-target="#dropdown_dr_lv2">Colors</a>
						<ul id="dropdown_dr_lv2" class="collapse collapse-level-2">
							<li><a href="#" class="bg-blue txt-white">blue</a></li>
							<li><a href="#" class="bg-indigo txt-white">indigo</a></li>
							<li><a href="#" class="bg-purple txt-white">purple</a></li>
							<li><a href="#" class="bg-pink txt-white">pink</a></li>
							<li><a href="#" class="bg-red txt-white">red</a></li>
							<li><a href="#" class="bg-orange txt-white">orange</a></li>
							<li><a href="#" class="bg-yellow txt-white">yellow</a></li>
							<li><a href="#" class="bg-green txt-white">green</a></li>
							<li><a href="#" class="bg-teal txt-white">teal</a></li>
							<li><a href="#" class="bg-cyan txt-white">cyan</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>