<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navs">
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<div th:replace="webroot/frags/layout/nav-top.htm :: navTop"></div>
		<div th:replace="webroot/frags/layout/nav-left.htm :: navLeft"></div>
		<div th:replace="webroot/frags/layout/nav-right.htm :: navRight"></div>
		<div th:replace="webroot/frags/layout/modal.htm :: modal"></div>
	</div>
	<header th:fragment="navError" class="navbar navbar-fixed-top navbar-light">
		<a class="logo-main" href="/abyss/index">
			<i class="icon-verapi"></i>
			<span class="brand-text"><span>API</span> Portal <sup>{{abyssVersion}}</sup></span>
		</a>
		<div class="nav-button">
			<a class="d-inline-block btn btn-outline-primary btn-rounded" href="/abyss/index">Back to Home</a>
		</div>
	</header>
	<header th:fragment="navIndex" class="navbar navbar-fixed-top navbar-light">
		<a class="logo-main" href="/abyss/index">
			<i class="icon-verapi"></i>
			<span class="brand-text"><span>API</span> Portal <sup>{{abyssVersion}}</sup></span>
		</a>
		<div class="nav-button">
			<a class="inline-block btn btn-outline btn-primary btn-rounded nonecase-font" href="/abyss/logout">Logout</a>
		</div>
	</header>
	<header th:fragment="navLogin" class="navbar navbar-fixed-top navbar-light">
		<a class="logo-main" href="/abyss/index">
			<i class="icon-verapi"></i>
			<span class="brand-text"><span>API</span> Portal <sup>{{abyssVersion}}</sup></span>
		</a>
		<div class="nav-button">
			<span class="d-inline-block pr-2">Don't have an account?</span>
			<a class="d-inline-block btn btn-outline-primary btn-rounded" href="/abyss/signup">Sign Up</a>
		</div>
	</header>
	<header th:fragment="navSignup" class="navbar navbar-fixed-top navbar-light">
		<a class="logo-main" href="/abyss/index">
			<i class="icon-verapi"></i>
			<span class="brand-text"><span>API</span> Portal <sup>{{abyssVersion}}</sup></span>
		</a>
		<div class="nav-button">
			<span class="d-inline-block pr-2">Already have an account?</span>
			<a class="d-inline-block btn btn-outline-primary btn-rounded" href="/abyss/login">Sign In</a>
		</div>
	</header>
</body>
</html>