<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navs">
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<div th:replace="webroot/frags/layout/nav-top.htm :: navTop"></div>
		<div th:replace="webroot/frags/layout/nav-left.htm :: navLeft"></div>
		<div th:replace="webroot/frags/layout/nav-right.htm :: navRight"></div>
	</div>
	<header th:fragment="navError" class="navbar navbar-fixed-top navbar-light">
		<a class="logo-main" href="/index">
			<i class="icon-verapi"></i>
			<span class="brand-text"><span>API</span> Portal</span>
		</a>
		<div class="nav-button">
			<a class="inline-block btn btn-outline btn-primary btn-rounded nonecase-font" href="/index">Back to Home</a>
		</div>
	</header>
	<header th:fragment="navLogin" class="navbar navbar-fixed-top navbar-light">
		<a class="logo-main" href="/index">
			<i class="icon-verapi"></i>
			<span class="brand-text"><span>API</span> Portal</span>
		</a>
		<div class="nav-button">
			<span class="inline-block pr-10">Don't have an account?</span>
			<a class="inline-block btn btn-outline btn-primary btn-rounded" href="/signup">Sign Up</a>
		</div>
	</header>
	<header th:fragment="navSignup" class="navbar navbar-fixed-top navbar-light">
		<a class="logo-main" href="/index">
			<i class="icon-verapi"></i>
			<span class="brand-text"><span>API</span> Portal</span>
		</a>
		<div class="nav-button">
			<span class="inline-block pr-10">Already have an account?</span>
			<a class="inline-block btn btn-outline btn-primary btn-rounded" href="/login">Sign In</a>
		</div>
	</header>
</body>
</html>