<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="terms" id="termsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 class="modal-title text-left">Terms of Use</h5>
				</div>
				<div class="modal-body">
					<p class="text-left mt-2">Welcome to ABYSS API PORTAL.</p>
					<p class="text-left">If you continue to browse and use this portal, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern VERAPI YAZILIM TEKNOLOJİLERİ A.Ş.'s relationship with you in relation to this portal.</p>
					<p class="text-left">If you disagree with any part of these terms and conditions, please do not use ABYSS API PORTAL. The term 'VERAPI YAZILIM TEKNOLOJİLERİ A.Ş.' or 'us' or 'we' refers to the owner of the portal whose registered office is Koşuyolu Mah. Koşuyolu Cad. No: 33 Kadıköy / İstanbul / TURKEY</p>
					<p class="text-left">Our company registration number is Kadİköy V.D., 924 051 8054.</p>
					<p class="text-left">The term 'you' refers to the user or viewer of ABYSS API PORTAL.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>